{"openapi":"3.1.0","info":{"title":"Ad Fraud API","version":"2.0.1","description":"The Fraud API is a service which allows subscribers to request Pixalate's servers to retrieve the probability (risk score) and determine if a user's IP, DeviceID or User-Agent is compromised or performing malicious activity. Any fields included in the response, but not documented herein are subject to change without notice.\n","contact":{"name":"Pixalate, Inc.","url":"https://www.pixalate.com","email":"support@pixalate.com"},"x-logo":{"url":"https://cdn.pixalate.com/app-navigation/assets/images/pixalate-logo-red.svg","backgroundColor":"#FFFFFF","altText":"Pixalate, Inc."}},"servers":[{"url":"https://fraud-api.pixalate.com/api/v2","description":"Pixalate API endpoint version 2."}],"security":[{"ApiKey":[]}],"tags":[{"name":"Fraud"}],"paths":{"/fraud":{"get":{"operationId":"Get Fraud","description":"Retrieve probability of fraud for a specific IP, Device, or Agent.\nThe Fraud Blocking API returns a probability (risk score) 0.01 to 1.0 representing\nthe likelihood a given value is related to malicious or compromised devices.\nThis risk scoring is calculated by Pixalate's proprietary machine-learning algorithm and\nallows clients to set their own blocking thresholds based on the quality and scale of their supply inventory.\nThe following is a general guideline for setting fraud blocking thresholds:\n- Probability equal to 1.0, for filtering out only the worst offender for blocking (deterministic).\n- Probability is greater than or equal to 0.90 for filtering out users that are fraudulent beyond a reasonable doubt.\n- Probability between 0.75 (inclusive) and 0.90 (exclusive) to filter out users associated with clear and convincing evidence that they are fraudulent.\n- Probability between 0.5 (inclusive) and 0.75 (exclusive) to filter out users that it is more likely than not that they are fraudulent (also known as preponderance of the evidence standard).\n\nPixalate does not recommend blocking any probabilities less than 0.5.\nWhen making adjustments to the probability threshold, Pixalate highly recommends regular checks and balances against\nimpression delivery as lowering the probabilistic threshold can potentially impact the impression count.\n\nZero or more of the following parameters may be provided. If more than one parameter is specified,\nthe probability returned is determined by assessing risk based on the combination of each parameter's individual risk probability.\n\n**Not specifying an IP, Device, or Agent will return the metadata for fraud, including the user's current quota.  See alternate response schema below.**\n","tags":["Fraud"],"parameters":[{"$ref":"#/components/parameters/pretty"},{"$ref":"#/components/parameters/ip"},{"$ref":"#/components/parameters/deviceId"},{"$ref":"#/components/parameters/userAgent"}],"responses":{"200":{"$ref":"#/components/responses/OK"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}}}},"components":{"securitySchemes":{"ApiKey":{"type":"apiKey","name":"x-api-key","in":"header","description":"Authentication and authorization are achieved by supplying your Pixalate provided API key in the request's header.\nAn API key may be obtained by signing up for an account on the [Pixalate developer website](https://developer.pixalate.com).\n"}},"parameters":{"ip":{"name":"ip","description":"The internet protocol address.","in":"query","required":false,"schema":{"type":"string"},"examples":{"example1":{"summary":"Probability 0","value":"101.179.108.187"}}},"deviceId":{"name":"deviceId","description":"An ID that characterizes a mobile device. Various types are acceptable, including but not limited to the following:\n- **ADID** (Android): Google advertising ID, 36 characters (e.g., FF67345D-BF11-7823-1111-FFED421776FC)\n- **IDFA** (iOS): Apple advertising ID, 36 characters (e.g., A217D9FC-C1BE-4BEF-94CD-1EE82147C1AA)\n- **IDFV** (iOS): Apple's Identifier for Vendor, 36 characters (e.g., B927E7D7-63A7-4D7D-BF11-34D62A6C6E0B)\n- **MD5** (Multiple): The MD5 hash of a hardware device identifier (e.g., MAC address, IMEI, or advertising ID), 32 characters (e.g., d9527b5207097c5770ca448322489426)\n- **SHA1** (Multiple): The SHA-1 hash of a hardware device identifier (e.g., MAC address, IMEI, or advertising ID), 40 characters (e.g., 2971074629cc8f33146c5eb08b39f157da5ce356)\n- **WAID** (Windows): Windows advertising ID, 36 characters (e.g., 97615775-57b5-4300-90b4-ba0c22b60e34)\n- **RIDA** (Roku OS): Roku's privacy-friendly device ID, 36 characters (e.g., 331319d2-4cc2-51ac-de21-aa62f1e143c1)\n- **MSAI** (Xbox): Advertising ID for Microsoft's Xbox, 36 characters (e.g., bc23c3de-5d32-4d0c-de3a-94ce878a0379)\n- **GAID** (Android): Google's Advertising ID, 36 characters (e.g., AE63F1D9-0F3A-4B7A-891D-5E23F12C9B1A)\n","in":"query","required":false,"schema":{"$ref":"#/components/schemas/DeviceId"},"examples":{"example1":{"summary":"Probability 0 DeviceId","value":"6757809f5e6d66f4e40fb9fd88c05139"}}},"userAgent":{"name":"userAgent","description":"The browser or device supplied agent string.","in":"query","required":false,"schema":{"type":"string"},"examples":{"example1":{"summary":"UserAgent Probability 1","value":"Bot Googlebot/2.1 (iPod; N; RISC OS 2.4.35; IBM360; rv1.3.1) Alligator/20080524 Jungledog/3.0"}}},"pretty":{"name":"pretty","in":"query","required":false,"description":"If true, return pretty JSON. Default is false.","schema":{"type":"boolean"}}},"schemas":{"DeviceId":{"type":"string","description":"An ID that characterizes a mobile device. Various types are acceptable, including but not limited to the following:\n- **ADID** (Android): Google advertising ID, 36 characters (e.g., FF67345D-BF11-7823-1111-FFED421776FC)\n- **IDFA** (iOS): Apple advertising ID, 36 characters (e.g., A217D9FC-C1BE-4BEF-94CD-1EE82147C1AA)\n- **IDFV** (iOS): Apple's Identifier for Vendor, 36 characters (e.g., B927E7D7-63A7-4D7D-BF11-34D62A6C6E0B)\n- **MD5** (Multiple): The MD5 hash of a hardware device identifier (e.g., MAC address, IMEI, or advertising ID), 32 characters (e.g., d9527b5207097c5770ca448322489426)\n- **SHA1** (Multiple): The SHA-1 hash of a hardware device identifier (e.g., MAC address, IMEI, or advertising ID), 40 characters (e.g., 2971074629cc8f33146c5eb08b39f157da5ce356)\n- **WAID** (Windows): Windows advertising ID, 36 characters (e.g., 97615775-57b5-4300-90b4-ba0c22b60e34)\n- **RIDA** (Roku OS): Roku’s privacy-friendly device ID, 36 characters (e.g., 331319d2-4cc2-51ac-de21-aa62f1e143c1)\n- **MSAI** (Xbox): Advertising ID for Microsoft's Xbox, 36 characters (e.g., bc23c3de-5d32-4d0c-de3a-94ce878a0379)\n- **GAID** (Android): Google's Advertising ID, 36 characters (e.g., AE63F1D9-0F3A-4B7A-891D-5E23F12C9B1A)\n"},"Metadata":{"type":"object","description":"Fraud metadata information.","properties":{"database":{"type":"object","description":"The Fraud database state information.","properties":{"lastUpdated":{"type":"string","format":"date","description":"The date when the Fraud database was last updated. The date format is *YYYY-MM-DD*.","examples":["2022-04-30"]}}},"quota":{"type":"object","description":"Quota state information.","properties":{"available":{"type":"integer","description":"The amount of quota available for use.","examples":[480]},"used":{"type":"integer","description":"The amount of quota used.","examples":[520]},"expiry":{"type":"string","format":"date","description":"The datetime when the quota will be refreshed back to the limit. The datetime format is *YYYY-MM-DDTHH:MM:SS.SSSZ*.","examples":["2022-05-01T12:45:23.234Z"]},"limit":{"type":"integer","description":"The amount of quota to be made available for use when the quota is refreshed.","examples":[1000]},"interval":{"type":"integer","description":"The number of time units used in calculating the quota refresh datetime.","examples":[1000]},"timeUnit":{"type":"string","enum":["minute","hour","day","week","month"],"description":"The time unit used in calculating the quota refresh datetime.","examples":["month"]}}}}},"FraudInfo":{"type":"object","description":"Fraud information","properties":{"probability":{"type":"number","description":"The probability of fraud (0.1 through 1.0). 0.0 indicates unknown.","examples":[0.6]}}}},"responses":{"OK":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/FraudInfo"},{"$ref":"#/components/schemas/Metadata"}]}}}},"BadRequest":{"description":"Bad Request - Invalid parameters in request."},"Forbidden":{"description":"Forbidden - Rate plan expired or quota has been exhausted."},"ServerError":{"description":"Server Error - The API experienced an internal error.  Contact support."},"Unauthorized":{"description":"Unauthorized - Invalid API Key."}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}