{"openapi":"3.0.3","info":{"title":"Enrichment API - CTV Apps","version":"2.0.0","description":"The purpose of this API is to provide risk ratings and reputational data for Connected TV applications. The response is a JSON formatted object containing a list of CTV app information partitioned by region and device. Any fields included in the response, but not documented herein are subject to change without notice.","contact":{"name":"Pixalate, Inc.","url":"https://www.pixalate.com","email":"support@pixalate.com"},"x-logo":{"url":"https://cdn.pixalate.com/app-navigation/assets/images/pixalate-logo-red.svg","backgroundColor":"#FFFFFF","altText":"Pixalate, Inc."}},"servers":[{"url":"https://api.pixalate.com/api/v2","description":"Pixalate API endpoint version 2."}],"security":[{"ApiKey":[]}],"tags":[{"name":"CTV Apps"}],"paths":{"/mrt/ctv":{"get":{"operationId":"Get CTV Apps Metadata","description":"The purpose of this API is to provide metadata information for the connected TV applications in general. The response is a JSON formatted object containing the current user's quota state and the date the Connected TV applications database was last updated.","tags":["CTV Apps"],"parameters":[{"$ref":"#/components/parameters/pretty"}],"responses":{"200":{"$ref":"#/components/responses/OkMetadata"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}},"post":{"operationId":"Batch Get CTV Apps data","description":"<p>The purpose of this API is to provide risk ratings and reputational data across thousands of CTV applications in a batch mode.</p> <p>Posted data should be in CSV format where each line consists of a single field which is the App ID.  The request MIME type should be <code>text/plain</code>.</p> <p>Once request data is submitted, a URL to a newline-delimited JSON formatted report is provided as a response. While the resulting resource is public, the URL contains a randomly generated identifier that ensures the data is relatively secure unless the URL itself is made public by the user.</p> <p>The report will not be available for download at the returned URL location until processing has been completed. While creating the report, a request to retrieve the report using the response URL will return an HTTP status code Not Found (404). Once asynchronous processing has completed, the report is returned as normal. If asynchronous processing of a report fails because of an invalid query the request to retrieve the report using the response URL will return an HTTP status code Bad Request (400). Or, if the submitted file contained more than 5000 App IDs, then an HTTP status code Request Entity Too Large (413) is returned. Or, if the account's quota limit has been exceeded, then an HTTP status code Forbidden (403) is returned. For all other errors, a request to retrieve the report using the response URL will return an HTTP status code Internal Service Error (500). Client systems should poll the response URL until the report is available, or a non 404 HTTP status code is returned.</p> <p><b>This operation requires an Enterprise subscription. Please reach out to us at <a href=\"mailto:support@pixalate.com\">support@pixalate.com</a> for details on how to enable this for your account.</n></p>","tags":["CTV Apps"],"parameters":[{"$ref":"#/components/parameters/pretty"}],"responses":{"200":{"$ref":"#/components/responses/OkPost"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}}},"/mrt/ctv/{appId}":{"get":{"operationId":"Get CTV App Data","description":"The purpose of this API is to provide risk ratings and reputational data for CTV applications. The response is a JSON formatted object containing a list of app information partitioned by region and device.","tags":["CTV Apps"],"parameters":[{"$ref":"#/components/parameters/appId"},{"$ref":"#/components/parameters/widget"},{"$ref":"#/components/parameters/region"},{"$ref":"#/components/parameters/device"},{"$ref":"#/components/parameters/includeSpoofing"},{"$ref":"#/components/parameters/pretty"}],"responses":{"200":{"$ref":"#/components/responses/OK"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}}}},"components":{"securitySchemes":{"ApiKey":{"type":"apiKey","name":"x-api-key","in":"header","description":"Authentication and authorization is achieved by supplying your Pixalate provided API key in the header of the request. An API key may be obtained by signing up for an account on the [Pixalate developer website](https://developer.pixalate.com)."}},"parameters":{"appId":{"name":"appId","description":"The app's unique identifier.","in":"path","required":true,"schema":{"type":"string"},"example":"71845"},"widget":{"name":"widget","description":"Filter by comma-separated list of widgets to return. All widgets are returned by default.","in":"query","required":false,"schema":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/Widget"}},"explode":false},"region":{"name":"region","description":"Filter by region. All regions are returned by default. *GLOBAL* indicates aggregated traffic from all regions.","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Region"}},"device":{"name":"device","description":"Filter by device. All devices are returned by default.","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Device"}},"includeSpoofing":{"name":"includeSpoofing","description":"A *true* indicates that spoofing information should be included.","in":"query","required":false,"schema":{"type":"boolean"},"example":true},"pretty":{"name":"pretty","in":"query","required":false,"description":"If true, return pretty JSON. Default is false.","schema":{"type":"boolean"}}},"schemas":{"Metadata":{"type":"object","description":"CTV metadata information.","properties":{"database":{"type":"object","description":"The CTV Apps database state information.","properties":{"lastUpdated":{"type":"string","format":"date","description":"The date when the CTV Apps database was last updated. The date format is *YYYY-MM-DD*.","example":"2022-04-30"}}},"quota":{"type":"object","description":"Quota state information.","properties":{"available":{"type":"integer","description":"The amount of quota available for use.","example":480},"used":{"type":"integer","description":"The amount of quota used.","example":520},"expiry":{"type":"string","format":"date","description":"The datetime when the quota will be refreshed back to the limit. The datetime format is *YYYY-MM-DDTHH:MM:SS.SSSZ*.","example":"2022-05-01T12:45:23.234Z"},"limit":{"type":"integer","description":"The amount of quota to be made available for use when the quota is refreshed.","example":1000},"interval":{"type":"integer","description":"The number of time units used in calculating the quota refresh datetime.","example":1000},"timeUnit":{"type":"string","enum":["minute","hour","day","week","month"],"description":"The time unit used in calculating the quota refresh datetime.","example":"month"}}}}},"AppList":{"type":"object","description":"A list of apps.","properties":{"status":{"$ref":"#/components/schemas/Status"},"numFound":{"type":"integer","description":"The total number of matching apps.","example":1},"docs":{"type":"array","description":"A list of apps.","items":{"$ref":"#/components/schemas/App"}}}},"App":{"type":"object","description":"An app.","properties":{"appId":{"type":"string","description":"The app's unique identifier. *A package name on Google Play or a track id on Apple app Store.*","example":"B07SM3YB4H"},"region":{"$ref":"#/components/schemas/Region"},"device":{"$ref":"#/components/schemas/Device"},"includeSpoofing":{"type":"boolean","description":"A *true* indicates that spoofing information is included.","example":false},"appOverview":{"$ref":"#/components/schemas/AppOverview"},"riskOverview":{"$ref":"#/components/schemas/RiskOverview"},"pixalateAdvisories":{"$ref":"#/components/schemas/PixalateAdvisories"},"appSpoofing":{"$ref":"#/components/schemas/AppSpoofing"},"appDetails":{"$ref":"#/components/schemas/AppDetails"},"developerOverview":{"$ref":"#/components/schemas/DeveloperOverview"},"channels":{"$ref":"#/components/schemas/Channels"},"brandSafety":{"$ref":"#/components/schemas/BrandSafety"},"trafficOverlap":{"$ref":"#/components/schemas/TrafficOverlap"},"authorizedSellers":{"$ref":"#/components/schemas/AuthorizedSellers"},"invalidTraffic":{"$ref":"#/components/schemas/InvalidTraffic"},"inventory":{"$ref":"#/components/schemas/Inventory"},"availableCountries":{"$ref":"#/components/schemas/AvailableCountries"},"rankings":{"$ref":"#/components/schemas/Rankings"},"rankingsByCountry":{"$ref":"#/components/schemas/RankingsByCountry"},"coppa":{"$ref":"#/components/schemas/Coppa"}}},"AppOverview":{"type":"object","description":"General information about the app.","properties":{"channelId":{"type":"string","description":"The channel identifier.","example":null},"appTitle":{"type":"string","description":"The app title.","example":"Example App"},"description":{"type":"string","description":"App description.","example":"An example app."},"categories":{"type":"array","description":"The categories of the app.","items":{"type":"string"},"example":["Movies & TV"]},"screenshotUrls":{"type":"array","description":"A list of app screenshot URLs.","items":{"type":"string"},"example":["https://example.com/image/screenshot-1.png","https://example.com/image/screenshot-2.png"]}}},"RiskOverview":{"type":"object","description":"An overview of risk for the app.","properties":{"risk":{"type":"array","description":"Pixalate's unique overall advertising risk assessment based on blended risk factors including brand safety, invalid traffic and inventory for all regions and devices. It includes risk reasons. And list of possible risk reasons.","items":{"type":"object","properties":{"region":{"$ref":"#/components/schemas/Region"},"pixalateRisk":{"type":"string","description":"Pixalate's unique overall risk assessment for the app.","enum":["low","medium","high"],"example":"medium"},"pixalateRiskReasons":{"$ref":"#/components/schemas/RiskReasons"}}}},"ivt":{"type":"number","description":"Percentage of invalid traffic associated with advertising transactions for the app.","example":10.12},"ivtRisk":{"type":"string","description":"The invalid traffic risk.","enum":["low","medium","high"],"example":"medium"},"ssaiRate":{"type":"number","description":"The percentage of traffic observed to utilize server-side-ad-insertion (SSAI) integrations for ad/ad content delivery to the end user.","example":0.55},"transaparentSsaiRate":{"type":"number","description":"The SSAI tracked impressions that come from proxies passing X-Device-User-Agent headers for more transparency.","example":0.01},"descriptionBrandSafetyRisk":{"type":"string","description":"The overall description risk to advertise brand safety from the app.","enum":["low","medium","high"],"example":"low"},"contentBrandSafetyRisk":{"type":"string","description":"The overall content risk to advertise brand safety from the app.","enum":["low","medium","high"],"example":"low"}}},"PixalateAdvisories":{"type":"object","description":"Pixalate app advisories.","properties":{"hasAppAdsTxt":{"type":"boolean","description":"A *true* indicates that AppAds.txt is enabled for the app's domain.","example":false},"delistedApp":{"type":"boolean","description":"A *true* indicates that app has been delisted from the app store.","example":true},"delistedDate":{"type":"string","format":"date","description":"If app has been delisted from the app store, then this property is the date when delisted. The date format is *YYYY-MM-DD*.","example":"2021-10-30"},"privateDomain":{"type":"boolean","description":"A *true* indicates app's domain is privately registered.","example":false},"hasTermsAndConditions":{"type":"boolean","description":"A *true* indicates app has terms and conditions.","example":true},"hasPrivacyPolicy":{"type":"boolean","description":"A *true* indicates app has privacy policy.","example":true},"appAgeRisk":{"type":"string","description":"Risk rating based on the amount of time the app has been listed within the app store. Apps which have been listed for an extended period of time may present less risk than those recently published. (low/medium/high)","enum":["low","medium","high"],"example":"medium"}}},"AppSpoofing":{"type":"object","description":"Spoofing information about the app.","properties":{"victimOfSpoofing":{"type":"boolean","description":"A *true* indicates that the app is a victim of spoofing.","example":true},"spoofingRisk":{"type":"string","description":"Risk of spoofing in this app.  (low/medium/high)","enum":["low","medium","high"],"example":"medium"},"byFraudType":{"type":"array","description":"Spoofing by fraudType denoting the fraud type with set of apps with detectedBundleId, declaredBundleId, sovRisk","items":{"type":"object","description":"Spoofing by fraud type.","properties":{"fraudType":{"type":"string","description":"The fraud type","example":"userAgentObfuscation"},"apps":{"type":"array","description":"The apps designated for this fraud type.","items":{"type":"object","description":"The app.","properties":{"detectedBundleId":{"type":"string","description":"The bundle identifier detected for the app.","example":null},"declaredBundleId":{"type":"string","description":"The bundle identifier declared for the app.","example":"B00KDSGIPK"},"sovRisk":{"type":"string","description":"The SOV risk for the app.  (low/medium/high)","enum":["low","medium","high"],"example":"medium"}}}}}}}}},"AppDetails":{"type":"object","description":"Detailed information about the app.","properties":{"appStoreUrl":{"type":"string","description":"The app page on App Store.","example":"https://appstore.example.org/dp/B00KDXXX2PK"},"availableCountries":{"type":"array","description":"The countries in which the app is available.","items":{"type":"string"},"example":["US","ES"]},"availableLanguages":{"type":"array","description":"The languages in which the app is available.","items":{"type":"string"},"example":["en","es"]},"keywords":{"type":"array","description":"Search terms and keywords typically associated to the app.","items":{"type":"string"},"example":["space","news"]},"rating":{"type":"number","description":"The app's average user-rating within the app store (based on a 5-star scale).","example":84},"starRatingCount":{"type":"integer","description":"The number of ratings provided within the app store.","example":517628},"parentalHint":{"type":"string","description":"Indicates parental sensitivity considerations for the respective app content.","example":"Guidance Suggested"},"revenueSources":{"type":"array","description":"The primary sources of revenue for the app.","items":{"type":"string"},"example":null},"cvaaCompliant":{"type":"boolean","description":"A *true* indicates that the app is in compliance with the FCC's Communications and Video Accessibility Act (CVAA) Standards.","example":true},"appAgeRisk":{"type":"string","description":"Risk rating based on the amount of time the app has been listed within the app store.(low/medium/high).","enum":["low","medium","high"],"example":"low"},"appAge":{"type":"number","description":"The amount of time the app has been listed within the app store.","example":91},"publishedDate":{"type":"string","description":"The date of original publication within the app store.","example":null},"appPrivacyPolicy":{"type":"boolean","description":"A *true* indicates that an app-specific privacy policy is maintained. Apps which do not maintain a privacy policy may be of higher risk to advertisers and sellers.","example":true},"appPrivacyPolicyUrl":{"type":"string","description":"Link to the app-specific privacy policy.","example":"http://example.org/privacy-policy/"},"delistedApp":{"type":"boolean","description":"A *true* indicates that the app was delisted from app store.","example":false},"delistedDate":{"type":"string","description":"If the app is delisted, then the date app was delisted from app store. The date format is *YYYY-MM-DD*.","example":null},"bundleIds":{"type":"array","description":"The SOV ratio broken down by bundle identifier.","items":{"type":"object","description":"SOV ratio for a bundle identifier.","properties":{"bundleId":{"type":"string","description":"The bundle identifier.","example":"B00KDXXX2PK"},"sovRatio":{"type":"number","description":"The SOV ratio.","example":77.43}}}}}},"DeveloperOverview":{"type":"object","description":"An overview of app's developer information.","properties":{"developerName":{"type":"string","description":"The business name of the app's developer.","example":"Acme Apps"},"developerWebsite":{"type":"string","description":"The website of the app's developer.","example":"https://www.example.org"},"privateDomain":{"type":"boolean","description":"A *true* indicates app's domain is privately registered.","example":false},"hasTermsAndConditions":{"type":"boolean","description":"A *true* indicates app has terms and conditions.","example":true},"hasPrivacyPolicy":{"type":"boolean","description":"A *true* indicates app has privacy policy.","example":true},"totalApps":{"type":"integer","description":"Total number of apps published by this developer.","example":3}}},"Channels":{"type":"array","description":"Channels available for apps considered as aggregators or providers of 'skinny bundles'","items":{"type":"object","description":"Channel information.","properties":{"name":{"type":"string","description":"The channel name."}}},"example":["Vevo Pop","World Tour Poker"]},"BrandSafety":{"type":"object","description":"Brand safety information.","properties":{"descriptionBrandSafety":{"type":"object","description":"App descriptive text is processed through natural language algorithms and comprehensive categorical dictionaries to predict the advertiser brand safety risk.","properties":{"advisoriesRisk":{"type":"string","description":"The risk to brand safety derived from the app's content advisories.","enum":["low","medium","high"],"example":"medium"},"adultContentRisk":{"type":"string","description":"The risk to brand safety from adult themed content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"high"},"drugContentRisk":{"type":"string","description":"The risk to brand safety from drug themed content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"medium"},"alcoholContentRisk":{"type":"string","description":"The risk to brand safety from Alcohol themed content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"medium"},"hateSpeechRisk":{"type":"string","description":"The risk to brand safety from hate speech content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"low"},"offensiveContentRisk":{"type":"string","description":"The risk to brand safety from content with offensive language based on textual analysis of the app and its descriptive content .","enum":["low","medium","high"],"example":"medium"}}},"contentBrandSafety":{"type":"object","description":"In-app visual content is processed through an advanced machine learning algorithm and evaluated for risk to advertiser brand safety.","properties":{"adultRisk":{"type":"string","description":"The risk to brand safety from potential adult images and content detected within the app.","enum":["low","medium","high"],"example":"low"},"violenceRisk":{"type":"string","description":"The risk to brand safety from potential violent imagery and content detected within the app.","enum":["low","medium","high"],"example":"medium"},"imageData":{"type":"array","description":"The image by image breakdown of brand safety risk factors based on advanced image processing and machine learning.","items":{"type":"object","description":"The image, extracted text, and brand safety risk factors associated with the image.","properties":{"url":{"type":"string","description":"A URL to the image.","example":"https://example.org/images/kxipXQ3huWkwsqokX66euP.png"},"text":{"type":"string","description":"The extracted text.","example":"Weather Radar"},"violenceRisk":{"type":"string","description":"The risk to brand safety from potential violence images and any extracted text.","enum":["low","medium","high"],"example":"low"},"spoofRisk":{"type":"string","description":"The risk to brand safety from potential spoofing based on images and any extracted text.","enum":["low","medium","high"],"example":"low"},"medicalRisk":{"type":"string","description":"The risk to brand safety from potential medical images and any extracted text.","enum":["low","medium","high"],"example":"low"},"adultRisk":{"type":"string","description":"The risk to brand safety from potential adult images images and any extracted text.","enum":["low","medium","high"],"example":"low"}}}}}}}},"TrafficOverlap":{"type":"object","description":"Overlap traffic illustrates the most common user journeys from app to app.","properties":{"trafficOverview":{"type":"object","description":"Traffic volume and ad inventory estimates for the app along with associated advertising risk factors.","properties":{"spoofingRisk":{"type":"string","description":"The risk the app may be misrepresented in advertising transactions and ads delivered to a different app or site.","enum":["low","medium","high"],"example":"low"},"advertisingIvtRisk":{"type":"string","description":"The risk of advertising impressions delivered to the app being due to invalid traffic (IVT). IVT risk is derived from standardized definitions of invalid traffic maintained by the Media Rating Council, Inc. (MRC) and the Interactive Advertising Bureau (IAB).","enum":["low","medium","high"],"example":"low"},"trustedSeller":{"type":"string","description":"Pixalate crunches the data to rate sellers representing this app on the basis of a number of factors including audience reach and invalid traffic risk.","example":"Google AdExchange"},"ivtFreeUsersRate":{"type":"number","description":"The percentage of the app's individual user-base not responsible for presence of invalid traffic.","example":96.03},"estimatedDailyActiveUsers":{"type":"integer","description":"The estimated Daily Active Users (DAU) for the app.","example":4929},"estimatedMonthlyActiveUsers":{"type":"integer","description":"The estimated Monthly Active Users (MAU) for the app.","example":46502},"adSpend":{"type":"number","description":"Total estimated monthly ad spend on this app.","example":69000},"adDensity":{"type":"number","description":"The estimated number of ads displayed to the average user by this app.","example":18377044},"adDensityRisk":{"type":"string","description":"The ad density risk for the application.","enum":["low","medium","high"],"example":"low"},"adDensityConfidenceScore":{"type":"number","description":"Confidence of ad density calculations and risk.","example":0.95}}},"trafficOverlap":{"type":"object","description":"Overlap traffic illustrates the most common user journeys from app to app. It leverages shared users to not only connect apps together but also to create relationships between a series of apps. List of apps provided based on overall traffic(byOveralTraffic) and invalid traffic(byIvt).","properties":{"byOverallTraffic":{"type":"array","description":"Overall traffic overlap broken down by app.","items":{"type":"object","description":"IVT traffic overlap by app.","properties":{"appName":{"type":"string","description":"The app name.","example":"ExampleOrg's - Free TV Drama & Movies"},"developerName":{"type":"string","description":"The developer name.","example":"Example Org"},"impressionOverlap":{"type":"number","description":"The impression overlap with the app.","example":0.2},"deviceOverlap":{"type":"number","description":"The device overlap with the app.","example":0.21},"risk":{"type":"string","description":"The overlap risk","enum":["low","medium","high"],"example":"medium"}}}},"byIvt":{"type":"array","description":"IVT traffic overlap broken down by app.","items":{"type":"object","description":"IVT traffic overlap by app.","properties":{"appName":{"type":"string","description":"The app name.","example":"ExampleOrg's - Free TV Drama & Movies"},"developerName":{"type":"string","description":"The developer name.","example":"Example Org"},"impressionOverlap":{"type":"number","description":"The impression overlap with the app.","example":0.14},"deviceOverlap":{"type":"number","description":"The device overlap with the app.","example":0.05},"risk":{"type":"string","description":"The overlap risk","enum":["low","medium","high"],"example":"low"}}}}}}}},"AuthorizedSellers":{"type":"array","description":"The contribution of various sell side platforms to programmatic ad impressions sold on the app.","items":{"type":"object","properties":{"exchange":{"type":"string","description":"The name of the exchange.","example":"Acme Exchange"},"paymentType":{"type":"string","description":"The payment type.","example":"Direct"},"inventory":{"type":"integer","description":"The estimated number of monthly impressions this app makes available programmatically by this seller.","example":30039},"inventoryRatio":{"type":"number","description":"The average inventory ratio for ad impressions on the app by this seller.","example":12.87},"ivt":{"type":"number","description":"The average IVT for ad impressions on the app by this seller.","example":0.9},"videoInventoryRatio":{"type":"number","description":"The average video inventory ratio for ad impressions on the app by this seller.","example":1.4},"displayInventoryRatio":{"type":"number","description":"The average display inventory ratio for ad impressions on the app by this seller.","example":1.4},"spoofingRate":{"type":"number","description":"The average spoofing rate for ad impressions on the app by this seller.","example":2.6},"ssaiRate":{"type":"number","description":"The percentage of traffic observed to utilize server-side-ad-insertion (SSAI) integrations for ad/ad content delivery to the end user.","example":0.06},"transparentSsaiRate":{"type":"number","description":"The SSAI tracked impressions that come from proxies passing X-Device-User-Agent headers for more transparency.","example":0.06}}}},"InvalidTraffic":{"type":"object","description":"The percentage of invalid traffic associated with each Pixalate's taxonomy of GIVT and SIVT invalid traffic types.","properties":{"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app.","example":7.76},"givt":{"type":"number","description":"GIVT refers to General Invalid Traffic - Deterministically judged to be non-human traffic; high to very high risk.","example":0.29},"sivt":{"type":"number","description":"SIVT refers to Sophisticated Invalid Traffic - Probabilistically judged to be non-human traffic using advanced statistical detection methods; moderate to high risk traffic.","example":7.47},"givtTypes":{"type":"array","description":"The percentage of invalid traffic associated with each Pixalate's taxonomy of GIVT invalid traffic types.","items":{"type":"object","properties":{"fraudType":{"type":"string","description":"The type of SIVT fraud.","example":"Data Center"},"givt":{"type":"number","description":"GIVT refers to General Invalid Traffic - Deterministically judged to be non-human traffic; high to very high risk.","example":0.29}}}},"sivtTypes":{"type":"array","description":"The percentage of invalid traffic associated with each Pixalate's taxonomy of SIVT invalid traffic types.","items":{"type":"object","properties":{"fraudType":{"type":"string","description":"The type of SIVT fraud.","example":"AppSpoofing"},"sivt":{"type":"number","description":"SIVT refers to Sophisticated Invalid Traffic - Probabilistically judged to be non-human traffic using advanced statistical detection methods; moderate to high risk traffic.","example":2.78}}}}}},"Inventory":{"type":"object","description":"The estimated volume of programmatic ad impressions broken down by device, region, country, DMA.","properties":{"byRegion":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by region.","items":{"type":"object","description":"Inventory by region.","properties":{"region":{"type":"string","description":"The region.","example":"GLOBAL"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by region.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by region.","example":6.39},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by region.","example":2.93},"ssaiRate":{"type":"number","description":"The percentage of traffic observed to utilize server-side-ad-insertion (SSAI) integrations for ad/ad content delivery to the end user by region.","example":0.02},"TransparentssaiRate":{"type":"number","description":"The SSAI tracked impressions that come from proxies passing X-Device-User-Agent headers for more transparency by region.","example":0.01}}}},"byAdsize":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by ad size.","items":{"type":"object","description":"inventory by add size.","properties":{"adSize":{"type":"string","description":"The ad size.","example":"320x50"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by ad size.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by ad size.","example":3.47},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by ad size.","example":12.25},"ssaiRate":{"type":"number","description":"The percentage of traffic observed to utilize server-side-ad-insertion (SSAI) integrations for ad/ad content delivery to the end user by ad size.","example":0.03},"TransparentssaiRate":{"type":"number","description":"The SSAI tracked impressions that come from proxies passing X-Device-User-Agent headers for more transparency by as size.","example":0.02}}}},"byDma":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by DMA.","items":{"type":"object","description":"inventory by DMA.","properties":{"dmaName":{"type":"string","description":"The DMA name.","example":"NEW YORK"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by DMA.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by DMA.","example":5.35},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by DMA.","example":4.76},"ssaiRate":{"type":"number","description":"The percentage of traffic observed to utilize server-side-ad-insertion (SSAI) integrations for ad/ad content delivery to the end user by DMA.","example":0},"TransparentssaiRate":{"type":"number","description":"The SSAI tracked impressions that come from proxies passing X-Device-User-Agent headers for more transparency by DMA.","example":0}}}}}},"AvailableCountries":{"type":"array","description":"A list of available countries.","items":{"type":"string","description":"A country name.","example":"Germany"}},"Rankings":{"type":"object","description":"Ranking information about the app.","properties":{"regionRank":{"type":"integer","description":"The rank of the app within the requested region.","example":6473},"category":{"type":"array","description":"The rankings by various categories for the app.","items":{"type":"object","description":"The rank for a specific category.","properties":{"category":{"type":"string","description":"A category.","example":"Movies & TV"},"rank":{"type":"string","description":"The rank within the specific category for the app.","example":"11"}}}},"final":{"type":"object","description":"The final grade and score for the app.","properties":{"grade":{"type":"string","description":"The final grade for the app.","example":"C"},"score":{"type":"string","description":"The final score for the app.","example":"38"}}},"ivt":{"type":"object","description":"The IVT grade and score for the app.","properties":{"grade":{"type":"string","description":"The IVT grade for the app.","example":"B"},"score":{"type":"string","description":"The IVT score for the app.","example":"62"}}},"popularity":{"type":"object","description":"The popularity grade and score for the app.","properties":{"grade":{"type":"string","description":"The popularity grade for the app.","example":"C"},"score":{"type":"string","description":"The popularity score for the app.","example":"44"}}},"userEngagement":{"type":"object","description":"The user engagement grade and score for the app.","properties":{"grade":{"type":"string","description":"The user engagement grade for the app.","example":"A"},"score":{"type":"string","description":"The user engagement score for the app.","example":"99"}}},"adDensity":{"type":"object","description":"The ad density grade and score for the app.","properties":{"grade":{"type":"string","description":"The ad density grade for the app.","example":"A"},"score":{"type":"string","description":"The ad density score for the app.","example":"99"}}},"globalPopularityRank":{"type":"string","description":"The overall global popularity ranking of the app.","example":"234"}}},"RankingsByCountry":{"type":"object","description":"The reach and market share of the app broken down by country.","properties":{"reach":{"type":"array","description":"The reach of the app broken down by country.","items":{"type":"object","description":"Reach by country.","properties":{"countryCode":{"type":"string","description":"The ISO ALPHA-2 standard country code.","example":"ZA"},"countryName":{"type":"string","description":"The country name.","example":"South Africa"},"mauRank":{"type":"string","description":"The current Monthly Active Users (MAU) ranking for the app for this country.","example":"637"},"mauRankChange":{"type":"string","description":"The change in Monthly Active Users (MAU) rank since last assessment.","example":"-372"}}}},"marketShare":{"type":"array","description":"The market chare of the app broken down by country.","items":{"type":"object","description":"Market share by country.","properties":{"countryCode":{"type":"string","description":"The ISO ALPHA-2 standard country code.","example":"GE"},"countryName":{"type":"string","description":"The country name.","example":"Georgia"},"impressionRank":{"type":"string","description":"The current impression ranking for the app for this country.","example":"359"},"impsRankChange":{"type":"string","description":"The change in impression ranking since last assessment.","example":"N/A"}}}}}},"Coppa":{"type":"object","description":"Children's Online Privacy Protection Act information.","properties":{"coppaAudience":{"type":"string","description":"Assesses the likely intended audience of an app based on a variety of factors including app store categories, content ratings, and keywords, etc.","example":"General Audience"},"coppaAudienceReason":{"type":"array","description":"Describes the specific variables considered when making the audience assessment.","items":{"type":"string","example":"This app is likely directed to children (including mixed audience) based on manual review"}},"isReviewedManually":{"type":"boolean","description":"Flag which indicates apps that have been evaluated by teachers on Pixalate’s Trust and Safety Advisory Board for child-directedness based on the factors set forth in the COPPA Rule.","example":true},"parentalHint":{"type":"string","description":"The recommended age rating defined by Amazon’s app store or the Parental Hint provided by Roku store.","example":"Guidance Suggested"},"Categories":{"type":"array","description":"The associated categories of an app according to Roku and Amazon Stores.","items":{"type":"string"},"example":["Movies & TV"]},"coppaViolationRisk":{"type":"string","description":"Pixalate analyzes multiple signals and produces a risk score (low, medium, or high) that captures the potential COPPA risk.","enum":["low","medium","high"],"example":"low"},"coppaViolationRiskReason":{"type":"array","description":"Describes the specific variables considered when making the overall COPPA risk rating assessment.","items":{"type":"string"},"example":["The COPPA risk is low because the app is likely not directed to children under 13."]},"privacyPolicyDetected":{"type":"boolean","description":"Pixalate determines whether an app has a privacy policy based on information provided in the app stores. Additionally, Pixalate uses crawlers to scan developer websites for privacy policies.","example":true},"transmitsResidentialIP":{"type":"boolean","description":"Pixalate examines the traffic associated with an app and determines if the end-user IP is transmitted through the advertising pipeline that can expose granular information about the user’s location.","example":true},"passesLocation":{"type":"boolean","description":"Pixalate examines the traffic associated with an app and determines if the end-users’ GPS coordinates are being transmitted through the advertising pipeline that exposes granular information about the user’s location.","example":true}}},"Device":{"description":"The device.","type":"string","enum":["roku","firetv"],"example":"roku"},"Region":{"type":"string","description":"A geographic region. *GLOBAL* indicates an aggregate of all regions.","enum":["GLOBAL","NA","EMEA","LATAM","APAC"],"example":"GLOBAL"},"Status":{"type":"string","description":"The returned status.","enum":["OK","ERR"],"example":"OK"},"Widget":{"type":"string","description":"The identifier for a predefined subset of all the app information available. *If not supplied, usually indicates all widgets.*","enum":["appOverview","riskOverview","pixalateAdvisories","appSpoofing","appDetails","developerOverview","channels","brandSafety","trafficOverlap","authorizedSellers","invalidTraffic","inventory","availableCountries","rankings","rankingsByCountry","coppa"],"example":"appOverview"},"RiskReasons":{"type":"array","description":"A list of reasons that the app is at risk.","items":{"type":"string","enum":["Significantly Elevated IVT Percentage","Publisher Maintains Non-corporate Email Address","Moderately Elevated IVT Percentage","Publisher Does Not Publish a Privacy Policy","The Publisher Hides their Corporate Details in the Domain Registry","The Publisher's Email Address Doesn't Match Their Domain","Adult Content Has Been Detected in the app","The Publisher Does Not Publish Terms and Conditions","The Publisher Domain is Invalid","Gambling Content Has Been Detected in the app","Programmatic Ads Not Detected Leads to High Spoofing Risk","Violent Content Has Been Detected in the app","Alcohol Based Content Has Been Detected in the app","Ad Traffic Shows Some Suspicious Characteristics","Profanity and Offensive Language Has Been Detected in the app","App Description Uses Some Brand Unsafe Language","App Has a High Frequency of Invalid Clicks"]},"example":["Significantly Elevated IVT Percentage","Ad Traffic Shows Some Suspicious Characteristics"]}},"responses":{"OK":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppList"}}}},"OkMetadata":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Metadata"}}}},"OkPost":{"description":"OK","content":{"application/json":{"schema":{"type":"string","description":"The returned URL.","example":"https://dashboardcdn.pixalate.com/www/exported/Client/2022-04-12/qprdbkr9dfeoostip8ltqgmecd/apps_2022-04-12"}}}},"BadRequest":{"description":"Bad Request - Invalid parameters in request."},"Forbidden":{"description":"Forbidden - Quota has been exhausted, Subscription expired or needs upgrade."},"ServerError":{"description":"Server Error - The API experienced an internal error.  Contact support."},"Unauthorized":{"description":"Unauthorized - Invalid API Key."}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}