{"openapi":"3.0.3","info":{"title":"Enrichment API - Domains","version":"2.0.0","description":"The purpose of this API is to provide risk ratings and reputational data for websites. The response is a JSON formatted object containing a list of website information partitioned by region and device. Any fields included in the response, but not documented herein are subject to change without notice.","contact":{"name":"Pixalate, Inc.","url":"https://www.pixalate.com","email":"support@pixalate.com"},"x-logo":{"url":"https://cdn.pixalate.com/app-navigation/assets/images/pixalate-logo-red.svg","backgroundColor":"#FFFFFF","altText":"Pixalate, Inc."}},"servers":[{"url":"https://api.pixalate.com/api/v2","description":"Pixalate API endpoint version 2."}],"security":[{"ApiKey":[]}],"tags":[{"name":"Domains"}],"paths":{"/mrt/domains":{"get":{"operationId":"Get Domains Metadata","description":"The purpose of this API is to provide metadata information for domains in general. The response is a JSON formatted object containing the current user's quota state and the date the domains database was last updated.","tags":["Domains"],"parameters":[{"$ref":"#/components/parameters/pretty"}],"responses":{"200":{"$ref":"#/components/responses/OkMetadata"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}},"post":{"operationId":"Batch Get Domains data","description":"<p>The purpose of this API is to provide risk ratings and reputational data across thousands of websites in a batch mode.</p> <p>Posted data should be in CSV format where each line consists of a single field which is the Domain.  The request MIME type should be <code>text/plain</code>.</p> <p>Once request data is submitted, a URL to a newline-delimited JSON formatted report is provided as a response. While the resulting resource is public, the URL contains a randomly generated identifier that ensures the data is relatively secure unless the URL itself is made public by the user.</p> <p>The report will not be available for download at the returned URL location until processing has been completed. While creating the report, a request to retrieve the report using the response URL will return an HTTP status code Not Found (404). Once asynchronous processing has completed, the report is returned as normal. If asynchronous processing of a report fails because of an invalid query the request to retrieve the report using the response URL will return an HTTP status code Bad Request (400). Or, if the submitted file contained more than 5000 domains, then an HTTP status code Request Entity Too Large (413) is returned. Or, if the account's quota limit has been exceeded, then an HTTP status code Forbidden (403) is returned. For all other errors, a request to retrieve the report using the response URL will return an HTTP status code Internal Service Error (500). Client systems should poll the response URL until the report is available, or a non 404 HTTP status code is returned.</p> <p><b>This operation requires an Enterprise subscription. Please reach out to us at <a href=\"mailto:support@pixalate.com\">support@pixalate.com</a> for details on how to enable this for your account.</n></p>","tags":["Domains"],"parameters":[{"$ref":"#/components/parameters/pretty"}],"responses":{"200":{"$ref":"#/components/responses/OkPost"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}}},"/mrt/domains/{adDomain}":{"get":{"operationId":"Get Domain Data","description":"The purpose of this API is to provide risk ratings and reputational data for websites. The response is a JSON formatted object containing a list of app information partitioned by region and device.","tags":["Domains"],"parameters":[{"$ref":"#/components/parameters/adDomain"},{"$ref":"#/components/parameters/widget"},{"$ref":"#/components/parameters/region"},{"$ref":"#/components/parameters/device"},{"$ref":"#/components/parameters/pretty"}],"responses":{"200":{"$ref":"#/components/responses/OK"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}}}},"components":{"securitySchemes":{"ApiKey":{"type":"apiKey","name":"x-api-key","in":"header","description":"Authentication and authorization is achieved by supplying your Pixalate provided API key in the header of the request. An API key may be obtained by signing up for an account on the [Pixalate developer website](https://developer.pixalate.com)."}},"parameters":{"adDomain":{"name":"adDomain","description":"The domain name.","in":"path","required":true,"schema":{"type":"string"},"example":"cnn.com"},"widget":{"name":"widget","description":"Filter by comma-separated list of widgets to return. All widgets are returned by default.","in":"query","required":false,"schema":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/Widget"}},"explode":false},"region":{"name":"region","description":"Filter by region. All regions are returned by default. *GLOBAL* indicates aggregated traffic from all regions.","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Region"}},"device":{"name":"device","description":"Filter by device. All devices are returned by default.","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Device"}},"pretty":{"name":"pretty","in":"query","required":false,"description":"If true, return pretty JSON. Default is false.","schema":{"type":"boolean"}}},"schemas":{"Metadata":{"type":"object","description":"Domains metadata information.","properties":{"database":{"type":"object","description":"The Domains database state information.","properties":{"lastUpdated":{"type":"string","format":"date","description":"The date when the Domains database was last updated. The date format is *YYYY-MM-DD*.","example":"2022-04-30"}}},"quota":{"type":"object","description":"Quota state information.","properties":{"available":{"type":"integer","description":"The amount of quota available for use.","example":480},"used":{"type":"integer","description":"The amount of quota used.","example":520},"expiry":{"type":"string","format":"date","description":"The datetime when the quota will be refreshed back to the limit. The datetime format is *YYYY-MM-DDTHH:MM:SS.SSSZ*.","example":"2022-05-01T12:45:23.234Z"},"limit":{"type":"integer","description":"The amount of quota to be made available for use when the quota is refreshed.","example":1000},"interval":{"type":"integer","description":"The number of time units used in calculating the quota refresh datetime.","example":1000},"timeUnit":{"type":"string","enum":["minute","hour","day","week","month"],"description":"The time unit used in calculating the quota refresh datetime.","example":"month"}}}}},"DomainList":{"type":"object","description":"A list of domains.","properties":{"status":{"$ref":"#/components/schemas/Status"},"numFound":{"type":"integer","description":"The total number of matching domains.","example":1},"docs":{"type":"array","description":"A list of domains.","items":{"$ref":"#/components/schemas/Domain"}}}},"Domain":{"type":"object","description":"A domain.","properties":{"AdDomain":{"type":"string","description":"The domain name.","example":"example.org"},"region":{"$ref":"#/components/schemas/Region"},"device":{"$ref":"#/components/schemas/Device"},"domainOverview":{"$ref":"#/components/schemas/DomainOverview"},"riskOverview":{"$ref":"#/components/schemas/RiskOverview"},"domainDetails":{"$ref":"#/components/schemas/DomainDetails"},"trafficQualityRisk":{"$ref":"#/components/schemas/TrafficQualityRisk"},"siteRisk":{"$ref":"#/components/schemas/SiteRisk"},"siteInfo":{"$ref":"#/components/schemas/SiteInfo"},"brandSafetyRisk":{"$ref":"#/components/schemas/BrandSafetyRisk"},"socialMediaRisk":{"$ref":"#/components/schemas/SocialMediaRisk"},"invalidTraffic":{"$ref":"#/components/schemas/InvalidTraffic"},"inventory":{"$ref":"#/components/schemas/Inventory"},"authorizedSellers":{"$ref":"#/components/schemas/AuthorizedSellers"},"viewability":{"$ref":"#/components/schemas/Viewability"},"ctr":{"$ref":"#/components/schemas/Ctr"},"trafficSources":{"$ref":"#/components/schemas/TrafficSources"},"subDomains":{"$ref":"#/components/schemas/SubDomains"},"deviceDistribution":{"$ref":"#/components/schemas/DeviceDistribution"}}},"DomainOverview":{"type":"object","description":"An overview of risk for the domain.","properties":{"iabPrimaryCategory":{"type":"array","description":"The IAB primary categories.","items":{"type":"string","description":"The IAB primary category name.","example":"News"}},"iabSubCategory":{"type":"array","description":"The IAB sub categories.","items":{"type":"string","description":"The IAB sub category name.","example":null}},"hasAdsTxt":{"type":"boolean","description":"A *true* indicates Ads.txt is enabled for the domain.","example":true}}},"RiskOverview":{"type":"object","description":"An overview of risk for the domain.","properties":{"ivt":{"type":"number","description":"Percentage of Invalid traffic associated with advertising transactions for the domain.","example":6.7},"ivtRisk":{"type":"string","description":"The invalid traffic risk for the domain.","enum":["low","medium","high"],"example":"medium"},"viewability":{"type":"number","description":"Percentage of invalid traffic associated with advertising transactions for the domain.","example":53.95},"viewabilityRisk":{"type":"string","description":"The viewability risk for the domain.","enum":["low","medium","high"],"example":"medium"},"brandSafetyRisk":{"type":"string","description":"The overall risk to advertise Brand Safety from the domain.","enum":["low","medium","high"],"example":"low"},"risk":{"type":"array","description":"Overall pixalate's unique advertising risk assessment based on blended risk factors including brand safety, invalid traffic and inventory for all regions and devices. Risk is broken down by region and device.","items":{"type":"object","description":"Region and Device risk.","properties":{"region":{"type":"string","description":"The region."},"device":{"type":"string","description":"The device."},"pixalateRisk":{"type":"string","description":"Pixalate's unique overall risk assessment for the domain.","enum":["low","medium","high"],"example":"medium"},"pixalateRiskReasons":{"$ref":"#/components/schemas/RiskReasons"}}}}}},"DomainDetails":{"type":"object","description":"Detailed information about the domain.","properties":{"inventory":{"type":"integer","description":"The estimated number of monthly impressions this domain makes available programmatically.","example":892920},"desktopTrafficRatio":{"type":"number","description":"The percentage of desktop ads trafficked on the domain.","example":94.13},"mobileTrafficRatio":{"type":"number","description":"The percentage of mobile ads trafficked on the domain.","example":5.64},"videoTrafficRatio":{"type":"number","description":"The percentage of video ads trafficked on the domain.","example":3.16},"ctr":{"type":"number","description":"Average CTR of the domain","example":0.05},"familyOfSites":{"type":"integer","description":"The number of related websites.","example":36773},"pixalateRisk":{"type":"string","description":"Overall pixalate's unique advertising risk assessment based on blended risk factors including brand safety, invalid traffic and inventory.","enum":["low","medium","high"],"example":"low"},"bidPriceLow":{"type":"string","description":"Low bid price in US dollars.","example":0},"bidPriceHigh":{"type":"string","description":"High bid price in US dollars.","example":0},"trustedSeller":{"type":"string","description":"Authorized trusted seller.","example":"Example Ad Seller"},"trueReach":{"type":"string","description":"The estimated number of unique users per 1 Million internet users that can be reached on this domain.","example":6602}}},"TrafficQualityRisk":{"type":"object","description":"An overview of domain's traffic quality.","properties":{"ivtRisk":{"type":"string","description":"The invalid traffic risk for the domain.","enum":["low","medium","high"],"example":"medium"},"clickFraudRisk":{"type":"string","description":"The click fraud risk for the domain.","enum":["low","medium","high"],"example":"medium"},"viewabilityRisk":{"type":"string","description":"The viewability Risk for the domain.","enum":["low","medium","high"],"example":"low"},"domainMaskingRisk":{"type":"string","description":"The domain masking risk for the domain.","enum":["low","medium","high"],"example":"low"},"majorTrafficSource":{"type":"string","description":"The major traffic source for the domain.","example":"Direct"}}},"SiteRisk":{"type":"object","description":"The risk associated with the domain name and website.","properties":{"domainAge":{"type":"number","description":"The age of the domain in years.","example":0},"hasPrivacyPolicy":{"type":"boolean","description":"A *true* indicates that the website has a privacy policy.","example":true},"hasTermsAndConditions":{"type":"boolean","description":"A *true* indicates that the website has terms and conditions.","example":true},"privateDomain":{"type":"boolean","description":"A *true* indicates that the domain is privately registered.","example":false},"corporateEmail":{"type":"boolean","description":"A *true* indicates that the domain has been registered with a corporate email.","example":true},"adInjectionRisk":{"type":"string","description":"The ad injection risk of the domain.","enum":["low","medium","high"],"example":"low"}}},"SiteInfo":{"type":"object","description":"General domain information.","properties":{"owner":{"type":"string","description":"Owner of the domain.","example":"Example, Inc."},"emailAddress":{"type":"string","description":"The contact email address.","example":"jdoe@example.org"},"contactNumber":{"type":"string","description":"The contact phone number.","example":"14085551212"},"mailingAddress":{"type":"string","description":"The mailing address.","example":"1234 Main Street, USA."}}},"BrandSafetyRisk":{"type":"object","description":"Brand safety information.","properties":{"adultContentRisk":{"type":"string","description":"The risk to brand safety from adult themed content based on textual analysis of the domain and its descriptive content.","enum":["low","medium","high"],"example":"high"},"alcoholContentRisk":{"type":"string","description":"The risk to brand safety from Alcohol themed content based on textual analysis of the domain and its descriptive content.","enum":["low","medium","high"],"example":"medium"},"drugContentRisk":{"type":"string","description":"The risk to brand safety from drug themed content based on textual analysis of the domain and its descriptive content.","enum":["low","medium","high"],"example":"medium"},"hateSpeechRisk":{"type":"string","description":"The risk to brand safety from hate speech content based on textual analysis of the domain and its descriptive content.","enum":["low","medium","high"],"example":"low"},"phishingRisk":{"type":"string","description":"The risk to brand safety from phishing.","enum":["low","medium","high"],"example":"medium"},"malwareRisk":{"type":"string","description":"The risk to brand safety from malware.","enum":["low","medium","high"],"example":"medium"}}},"SocialMediaRisk":{"type":"object","description":"Brand safety information.","properties":{"facebookRisk":{"type":"string","description":"The Facebook risk.  Low social media engagement on Facebook can be a risk factor.","enum":["low","medium","high"],"example":"medium"},"linkedInRisk":{"type":"string","description":"The Linked In risk. Low social media engagement on LinkedIn can be a risk factor.","enum":["low","medium","high"],"example":"medium"},"twitterRisk":{"type":"string","description":"The Twitter In risk. Low social media engagement on Twitter can be a risk factor.","enum":["low","medium","high"],"example":"medium"},"socialTrafficRatio":{"type":"number","description":"Percentage of social traffic to the site.","example":0.11}}},"InvalidTraffic":{"type":"object","description":"The percentage of invalid traffic associated with each Pixalate's taxonomy of GIVT and SIVT invalid traffic types.","properties":{"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the domain.","example":7.76},"givt":{"type":"number","description":"GIVT refers to General Invalid Traffic - Deterministically judged to be non-human traffic; high to very high risk.","example":0.29},"sivt":{"type":"number","description":"SIVT refers to Sophisticated Invalid Traffic - Probabilistically judged to be non-human traffic using advanced statistical detection methods; moderate to high risk traffic.","example":7.47},"givtTypes":{"type":"array","description":"The percentage of invalid traffic associated with each Pixalate's taxonomy of GIVT invalid traffic types.","items":{"type":"object","properties":{"fraudType":{"type":"string","description":"The type of SIVT fraud.","example":"Data Center"},"givt":{"type":"number","description":"GIVT refers to General Invalid Traffic - Deterministically judged to be non-human traffic; high to very high risk.","example":0.29}}}},"sivtTypes":{"type":"array","description":"The percentage of invalid traffic associated with each Pixalate's taxonomy of SIVT invalid traffic types.","items":{"type":"object","properties":{"fraudType":{"type":"string","description":"The type of SIVT fraud.","example":"AppSpoofing"},"sivt":{"type":"number","description":"SIVT refers to Sophisticated Invalid Traffic - Probabilistically judged to be non-human traffic using advanced statistical detection methods; moderate to high risk traffic.","example":2.78}}}}}},"Inventory":{"type":"object","description":"The estimated volume of programmatic ad impressions broken down by device, region, country, DMA.","properties":{"byRegion":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by region.","items":{"type":"object","description":"Inventory by region.","properties":{"region":{"type":"string","description":"The region.","example":"APAC"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by region.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by region.","example":6.39},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by region.","example":8.02},"viewability":{"type":"number","description":"The average viewability for impressions by region.","example":73.3}}}},"byCountry":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by country.","items":{"type":"object","description":"Inventory by country.","properties":{"countryName":{"type":"string","description":"The country.","example":"Romania"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by country.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by country.","example":4.01},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by country.","example":17.21},"viewability":{"type":"number","description":"The average viewability for impressions by country.","example":57.2}}}},"byState":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by state.","items":{"type":"object","description":"Inventory by state.","properties":{"stateName":{"type":"string","description":"The state.","example":"United States, California"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by state.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by state.","example":15.62},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by state.","example":5.94},"viewability":{"type":"number","description":"The average viewability for impressions by state.","example":53.38}}}},"byAdsize":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by ad size.","items":{"type":"object","description":"inventory by add size.","properties":{"adSize":{"type":"string","description":"The ad size.","example":"320x50"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by ad size.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by ad size.","example":0.1},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by ad size.","example":3.22},"viewability":{"type":"number","description":"The average viewability for impressions by ad size.","example":56.44}}}},"byDma":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by DMA.","items":{"type":"object","description":"inventory by DMA.","properties":{"dma":{"type":"string","description":"The DMA name.","example":"NEW YORK"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by DMA.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by DMA.","example":6.39},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by DMA.","example":5.45},"viewability":{"type":"number","description":"The average viewability for impressions by DMA.","example":54.79}}}}}},"AuthorizedSellers":{"type":"array","description":"The contribution of various sell side platforms to programmatic ad impressions sold on the app.","items":{"type":"object","properties":{"exchange":{"type":"string","description":"The name of the exchange.","example":"Acme Exchange"},"paymentType":{"type":"string","description":"The payment type.","example":"Direct"},"inventory":{"type":"integer","description":"The estimated number of monthly impressions this domain makes available programmatically by this seller.","example":30039},"inventoryRatio":{"type":"number","description":"The average inventory ratio for ad impressions on the domain by this seller.","example":12.87},"ivt":{"type":"number","description":"The average IVT for ad impressions on the domain by this seller.","example":0.9},"estBidLow":{"type":"number","description":"The estimate low bid for ads on the domain by this seller.","example":null},"estBidHigh":{"type":"number","description":"The estimate high bid for ads on the domain by this seller.","example":null},"viewability":{"type":"number","description":"The average viewability for ad impressions on the domain by this seller.","example":2.6}}}},"Viewability":{"type":"object","description":"The average viewability, according the IAB standard of 50% in view for at least 1 second, for display advertisements in the domain.","properties":{"viewability":{"type":"number","description":"The average viewability for all display ad impressions in the domain.","example":53.95},"byAdSize":{"type":"array","description":"The risk of IAB viewability standards not being met for ad impressions on the domain broken down by ad size.","items":{"type":"object","description":"Viewability by add size.","properties":{"adSize":{"type":"string","description":"The size of the ad.","example":"728x90"},"inventory":{"type":"integer","description":"The estimated inventory down by ad size.","example":7893},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by ad size.","example":61.05},"viewability":{"type":"number","description":"The average viewability for impressions by ad size.","example":56.04}}}}}},"Ctr":{"type":"object","description":"Information about Click Through Rate for this domain.","properties":{"ctr":{"type":"number","description":"The overall average CTR for this domain.","example":6.03},"byAdSize":{"type":"array","description":"The CTR for this domain broken down by ad size.","items":{"type":"object","description":"CTR by ad size.","properties":{"adSize":{"type":"string","description":"The ad size.","example":"320x50"},"ctr":{"type":"number","description":"The Click Through Rate by ad size.","example":1.45}}}}}},"TrafficSources":{"type":"array","description":"The volume of programmatic ad impressions broken down by traffic source.","items":{"type":"object","description":"The volume of programmatic ad impressions by traffic source.","properties":{"trafficSource":{"type":"string","description":"The traffic source.","example":"Discovery"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by traffic source.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by traffic source.","example":6.39},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by traffic source.","example":8.02},"viewability":{"type":"number","description":"The average viewability for impressions by traffic source.","example":73.3}}}},"SubDomains":{"type":"array","description":"The volume of programmatic ad impressions broken down by sub domains.","items":{"type":"object","description":"The volume of programmatic ad impressions by traffic source.","properties":{"subDomain":{"type":"string","description":"The sub domain.","example":"mail.example.org"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by sub domain.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by sub domain.","example":52.39},"maskingRatio":{"type":"number","description":"The estimated percentage of masking by sub domain.","example":52.39},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured by sub domain.","example":8.02},"viewability":{"type":"number","description":"The average viewability for impressions by sub domain.","example":73.3}}}},"DeviceDistribution":{"type":"object","description":"The estimated volume of programmatic ad impressions broken down by device (desktop, mobile), by desktop OS, and by mobile OS.","properties":{"byDevice":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by device.","items":{"type":"object","description":"The estimated volume of programmatic ad impressions by device","properties":{"device":{"type":"string","description":"The device","example":"desktop"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by device.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by device.","example":94.3},"maskingRatio":{"type":"number","description":"The estimated percentage of masking by device.","example":52.39},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured by device.","example":8.02},"viewability":{"type":"number","description":"The average viewability for impressions by device.","example":73.3}}}},"byDesktopOs":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by desktop OS.","items":{"type":"object","description":"The estimated volume of programmatic ad impressions by desktop OS","properties":{"os":{"type":"string","description":"The operating system.","example":"Windows 10"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by desktop OS.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by desktop OS.","example":13.63}}}},"byMobileOs":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by mobile OS.","items":{"type":"object","description":"The estimated volume of programmatic ad impressions by mobile OS.","properties":{"os":{"type":"string","description":"The operating system.","example":"Android 1.x"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by mobile OS.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by mobile OS.","example":9.29}}}}}},"Device":{"description":"The device. *GLOBAL* indicates an aggregate of all devices.","type":"string","enum":["GLOBAL","desktop","mobile"],"example":"desktop"},"Region":{"type":"string","description":"A geographic region. *GLOBAL* indicates an aggregate of all regions.","enum":["GLOBAL","US","NON-US"],"example":"US"},"Status":{"type":"string","description":"The returned status.","enum":["OK","ERR"],"example":"OK"},"Widget":{"type":"string","description":"The identifier for a predefined subset of all the domain information available. *If not supplied, usually indicates all widgets.*","enum":["domainOverview","riskOverview","domainDetails","trafficQualityRisk","siteRisk","siteInfo","brandSafetyRisk","socialMediaRisk","invalidTraffic","inventory","authorizedSellers","viewability","ctr","trafficSources","subDomains","deviceDistribution"],"example":"domainOverview"},"RiskReasons":{"type":"array","description":"A list of reasons that the domain is at risk.","items":{"type":"string","enum":["Significantly Elevated IVT Percentage","Publisher Maintains Non-corporate Email Address","Moderately Elevated IVT Percentage","Publisher Does Not Publish a Privacy Policy","The Publisher Hides their Corporate Details in the Domain Registry","The Publisher's Email Address Doesn't Match Their Domain","Adult Content Has Been Detected in the domain","The Publisher Does Not Publish Terms and Conditions","The Publisher Domain is Invalid","Gambling Content Has Been Detected in the domain","Programmatic Ads Not Detected Leads to High Spoofing Risk","Violent Content Has Been Detected in the domain","Alcohol Based Content Has Been Detected in the domain","Ad Traffic Shows Some Suspicious Characteristics","Profanity and Offensive Language Has Been Detected in the domain","Domain Description Uses Some Brand Unsafe Language","Domain Has a High Frequency of Invalid Clicks"]},"example":["Significantly Elevated IVT Percentage","Ad Traffic Shows Some Suspicious Characteristics"]}},"responses":{"OK":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainList"}}}},"OkMetadata":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Metadata"}}}},"OkPost":{"description":"OK","content":{"application/json":{"schema":{"type":"string","description":"The returned URL.","example":"https://dashboardcdn.pixalate.com/www/exported/Client/2022-04-12/qprdbkr9dfeoostip8ltqgmecd/apps_2022-04-12"}}}},"BadRequest":{"description":"Bad Request - Invalid parameters in request."},"Forbidden":{"description":"Forbidden - Quota has been exhausted, Subscription expired or needs upgrade."},"ServerError":{"description":"Server Error - The API experienced an internal error.  Contact support."},"Unauthorized":{"description":"Unauthorized - Invalid API Key."}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}