{"openapi":"3.0.3","info":{"title":"Enrichment API - Mobile Apps","version":"2.0.0","description":"The purpose of this API is to provide risk ratings and reputational data for mobile applications. The response is a JSON formatted object containing a list of app information partitioned by region and device. Any fields included in the response, but not documented herein are subject to change without notice.","contact":{"name":"Pixalate, Inc.","url":"https://www.pixalate.com","email":"support@pixalate.com"},"x-logo":{"url":"https://cdn.pixalate.com/app-navigation/assets/images/pixalate-logo-red.svg","backgroundColor":"#FFFFFF","altText":"Pixalate, Inc."}},"servers":[{"url":"https://api.pixalate.com/api/v2","description":"Pixalate API endpoint version 2."}],"security":[{"ApiKey":[]}],"tags":[{"name":"Mobile Apps"}],"paths":{"/mrt/apps":{"get":{"operationId":"Get Mobile Apps Metadata","description":"The purpose of this API is to provide metadata information for mobile applications in general. The response is a JSON formatted object containing the current user's quota state and the date the mobile applications database was last updated.","tags":["Mobile Apps"],"parameters":[{"$ref":"#/components/parameters/pretty"}],"responses":{"200":{"$ref":"#/components/responses/OkMetadata"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}},"post":{"operationId":"Batch Get Mobile Apps Data","description":"<p>The purpose of this API is to provide risk ratings and reputational data across thousands of mobile applications in a batch mode.</p> <p>Posted data should be in CSV format where each line consists of a single field which is the Bundle ID or Track ID.  The request MIME type should be <code>text/plain</code>.</p> <p>Once request data is submitted, a URL to a newline-delimited JSON formatted report is provided as a response. While the resulting resource is public, the URL contains a randomly generated identifier that ensures the data is relatively secure unless the URL itself is made public by the user.</p> <p>The report will not be available for download at the returned URL location until processing has been completed. While creating the report, a request to retrieve the report using the response URL will return an HTTP status code Not Found (404). Once asynchronous processing has completed, the report is returned as normal. If asynchronous processing of a report fails because of an invalid query the request to retrieve the report using the response URL will return an HTTP status code Bad Request (400). Or, if the submitted file contained more than 5000 Bundle ID or Track IDs, then an HTTP status code Request Entity Too Large (413) is returned. Or, if the account's quota limit has been exceeded, then an HTTP status code Forbidden (403) is returned. For all other errors, a request to retrieve the report using the response URL will return an HTTP status code Internal Service Error (500). Client systems should poll the response URL until the report is available, or a non 404 HTTP status code is returned.</p> <p><b>This operation requires an Enterprise subscription. Please reach out to us at <a href=\"mailto:support@pixalate.com\">support@pixalate.com</a> for details on how to enable this for your account.</n></p>","tags":["Mobile Apps"],"parameters":[{"$ref":"#/components/parameters/pretty"}],"responses":{"200":{"$ref":"#/components/responses/OkPost"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}}},"/mrt/apps/{appId}":{"get":{"operationId":"Get Mobile App Data","description":"The purpose of this API is to provide risk ratings and reputational data for mobile applications. The response is a JSON formatted object containing a list of app information partitioned by region and device.","tags":["Mobile Apps"],"parameters":[{"$ref":"#/components/parameters/appId"},{"$ref":"#/components/parameters/widget"},{"$ref":"#/components/parameters/region"},{"$ref":"#/components/parameters/device"},{"$ref":"#/components/parameters/pretty"}],"responses":{"200":{"$ref":"#/components/responses/OK"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"5XX":{"$ref":"#/components/responses/ServerError"}}}}},"components":{"securitySchemes":{"ApiKey":{"type":"apiKey","name":"x-api-key","in":"header","description":"Authentication and authorization is achieved by supplying your Pixalate provided API key in the header of the request. An API key may be obtained by signing up for an account on the [Pixalate developer website](https://developer.pixalate.com)."}},"parameters":{"appId":{"name":"appId","description":"The app's unique identifier. This is a package name on Google Play or a track id on Apple app Store.","in":"path","required":true,"schema":{"type":"string"},"example":"1407852246"},"widget":{"name":"widget","description":"Filter by comma-separated list of widgets to return. All widgets are returned by default.","in":"query","required":false,"schema":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/Widget"}},"explode":false},"region":{"name":"region","description":"Filter by region. All regions are returned by default. *GLOBAL* indicates aggregated traffic from all regions.","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Region"},"example":null},"device":{"name":"device","description":"Filter by device. All devices are returned by default. *GLOBAL* indicates aggregated traffic from all devices.","in":"query","schema":{"$ref":"#/components/schemas/Device"}},"pretty":{"name":"pretty","in":"query","required":false,"description":"If true, return pretty JSON. Default is false.","schema":{"type":"boolean"}}},"schemas":{"Metadata":{"type":"object","description":"Apps metadata information.","properties":{"database":{"type":"object","description":"The Mobile Apps database state information.","properties":{"lastUpdated":{"type":"string","format":"date","description":"The date when the Mobile Apps database was last updated. The date format is *YYYY-MM-DD*.","example":"2022-04-30"}}},"quota":{"type":"object","description":"Quota state information.","properties":{"available":{"type":"integer","description":"The amount of quota available for use.","example":480},"used":{"type":"integer","description":"The amount of quota used.","example":520},"expiry":{"type":"string","format":"date","description":"The datetime when the quota will be refreshed back to the limit. The datetime format is *YYYY-MM-DDTHH:MM:SS.SSSZ*.","example":"2022-05-01T12:45:23.234Z"},"limit":{"type":"integer","description":"The amount of quota to be made available for use when the quota is refreshed.","example":1000},"interval":{"type":"integer","description":"The number of time units used in calculating the quota refresh datetime.","example":1000},"timeUnit":{"type":"string","enum":["minute","hour","day","week","month"],"description":"The time unit used in calculating the quota refresh datetime.","example":"month"}}}}},"AppList":{"type":"object","description":"A list of apps.","properties":{"status":{"$ref":"#/components/schemas/Status"},"numFound":{"type":"integer","description":"The total number of matching apps.","example":1},"docs":{"type":"array","description":"A list of apps.","items":{"$ref":"#/components/schemas/App"}}}},"App":{"type":"object","description":"An app.","properties":{"appId":{"type":"string","description":"The app's unique identifier. *A package name on Google Play or a track id on Apple app Store.*","example":"1407852246"},"region":{"$ref":"#/components/schemas/Region"},"device":{"$ref":"#/components/schemas/Device"},"appStore":{"$ref":"#/components/schemas/AppStore"},"appOverview":{"$ref":"#/components/schemas/AppOverview"},"appDetails":{"$ref":"#/components/schemas/AppDetails"},"pixalateAdvisories":{"$ref":"#/components/schemas/PixalateAdvisories"},"appAdvisories":{"$ref":"#/components/schemas/AppAdvisories"},"riskOverview":{"$ref":"#/components/schemas/RiskOverview"},"developerOverview":{"$ref":"#/components/schemas/DeveloperOverview"},"trafficOverview":{"$ref":"#/components/schemas/TrafficOverview"},"brandSafety":{"$ref":"#/components/schemas/BrandSafety"},"appPermissions":{"$ref":"#/components/schemas/AppPermissions"},"trafficOverlap":{"$ref":"#/components/schemas/TrafficOverlap"},"authorizedSellers":{"$ref":"#/components/schemas/AuthorizedSellers"},"invalidTraffic":{"$ref":"#/components/schemas/InvalidTraffic"},"viewability":{"$ref":"#/components/schemas/Viewability"},"inventory":{"$ref":"#/components/schemas/Inventory"},"ctr":{"$ref":"#/components/schemas/Ctr"},"availableCountries":{"$ref":"#/components/schemas/AvailableCountries"},"rankings":{"$ref":"#/components/schemas/Rankings"},"rankingsByCountry":{"$ref":"#/components/schemas/RankingsByCountry"},"coppa":{"$ref":"#/components/schemas/Coppa"}}},"AppOverview":{"type":"object","description":"General information about the app.","properties":{"appTitle":{"type":"string","description":"The app title.","example":"Example App"},"screenshotUrls":{"type":"array","description":"A list of app screenshot URLs.","items":{"type":"string"},"example":["https://example.com/image/screenshot-1.png","https://example.com/image/screenshot-2.png"]},"description":{"type":"string","description":"App description.","example":"An example app."},"iabPrimaryCategory":{"type":"array","description":"The IAB primary categories.","items":{"type":"string"},"example":["Video Gaming"]},"iabSubCategory":{"type":"array","description":"The IAB secondary categories.","items":{"type":"string"},"example":["Mobile Games"]},"appStoreCategories":{"type":"array","description":"App store categories.","items":{"type":"string"},"example":["Games"]},"delistedDate":{"type":"string","format":"date","description":"If app has been delisted from the app store, then this property is the date when delisted. The date format is *YYYY-MM-DD*.","example":"2021-10-30"},"delistedApp":{"type":"boolean","description":"A *true* indicates that app has been delisted from the app store.","example":false},"hasDangerousPermissions":{"type":"boolean","description":"A *true* indicates that the app requests a permission which is dangerous according to the protection level in the Google permission manifest.","example":false}}},"AppDetails":{"type":"object","description":"Detailed information about the app.","properties":{"bundleId":{"type":"string","description":"The App bundle identifier. *For Google Play it is package name & For app Store it is Unique identifier for the app assigned by apple developer.*","example":"com.example.ios"},"trackId":{"type":"string","description":"The unique identifier for the app assigned by Apple. *App Store Only, otherwise null*","example":"1407852246"},"appStoreUrl":{"type":"string","description":"The app page on Google Play or App Store.","example":"https://apps.apple.com/us/app/example/id1407852246?uo=4"},"appLastUpdatedDate":{"type":"string","format":"date","description":"The date the app information was last updated.  Formatted as *YYYY-MM-DD*.","example":"2021-10-30"},"trustedSeller":{"type":"string","description":"The authorized trusted seller.","example":"Example"},"incentivizedActivity":{"type":"boolean","description":"A *true* indicates incentivized activity available in the app.","example":true},"downloadRange":{"type":"string","description":"The estimated number of apps installed. *For Google Google Play only.*","example":"500000000 - 1000000000"},"averageUserRating":{"type":"integer","description":"The average user rating given by the app store.","example":4},"contentRating":{"type":"string","description":"The recommended content rating defined by the app store.","example":"Everyone"},"blocklisted":{"type":"boolean","description":"A *true* indicates the app has been placed on Pixalate risk blocklist.","example":false},"blocklistedReasons":{"$ref":"#/components/schemas/BlocklistedReasons"},"adCapabilities":{"type":"object","description":"The ad capabilities of the app.","properties":{"topDevice":{"type":"string","description":"The most commonly reported device in use by the app.","example":"Generic Android"},"displayTopAdsize":{"type":"string","description":"The display ad size most commonly trafficked in programmatic advertising.","example":"336x280"},"videoTopAdsize":{"type":"string","description":"The video ad size most commonly trafficked in programmatic advertising.","example":"768x1024"},"displayContribution":{"type":"number","description":"The percentage of video ads trafficked on the app.","example":95.23},"videoContribution":{"type":"number","description":"The percentage of display ads trafficked on the app.","example":4.77},"hyperLocationAvailability":{"type":"number","description":"The percentage of advertising transactions containing the user's latitude and longitude.","example":98.78},"mraidVersion":{"type":"string","description":"The most recent version of MRAID for which the app is compliant.","example":"3.0"},"adsDetected":{"type":"boolean","description":"A *true* indicates that Ads detected in the app. Non ad-supported apps may be at risk of spoofing.","example":true}}},"interactiveELements":{"$ref":"#/components/schemas/InteractiveElements"}}},"PixalateAdvisories":{"type":"object","description":"Pixalate app advisories.","properties":{"hasAppAdsTxt":{"type":"boolean","description":"A *true* indicates that AppAds.txt is enabled for the app's domain.","example":false},"delistedApp":{"type":"boolean","description":"A *true* indicates that app has been delisted from the app store.","example":true},"delistedDate":{"type":"string","format":"date","description":"If app has been delisted from the app store, then this property is the date when delisted. The date format is *YYYY-MM-DD*.","example":"2021-10-30"},"hasDangerousPermissions":{"type":"boolean","description":"A *true* indicates that the app requests a permission which is dangerous according to the protection level in the Google permission manifest.","example":false},"blocklisted":{"type":"boolean","description":"A *true* indicates app has been placed on Pixalate risk blocklist.","example":false},"privateDomain":{"type":"boolean","description":"A *true* indicates app's domain is privately registered.","example":false},"hasTermsAndConditions":{"type":"boolean","description":"A *true* indicates app has terms and conditions.","example":true},"hasPrivacyPolicy":{"type":"boolean","description":"A *true* indicates app has privacy policy.","example":true}}},"AppAdvisories":{"type":"array","description":"App advisories.","items":{"type":"string","description":"An app advisory."},"example":["An example advisory","Another advisory"]},"RiskOverview":{"type":"object","description":"An overview of risk for the app.","properties":{"ivt":{"type":"number","description":"Percentage of invalid traffic associated with advertising transactions for the app.","example":10.12},"ivtRisk":{"type":"string","description":"The invalid traffic risk.","enum":["low","medium","high"],"example":"medium"},"viewability":{"type":"number","description":"The average viewability for all display ad impressions in the app.","example":66.05},"viewabilityRisk":{"type":"string","description":"The risk of IAB viewability standards not being met for ad impressions on the app.","enum":["low","medium","high"],"example":"medium"},"descriptionBrandSafetyRisk":{"type":"string","description":"The overall description risk to advertise brand safety from the app.","enum":["low","medium","high"],"example":"low"},"contentBrandSafetyRisk":{"type":"string","description":"The overall content risk to advertise brand safety from the app.","enum":["low","medium","high"],"example":"low"},"overallIvtPermissionRisk":{"type":"string","description":"The overall IVT risk to advertise brand safety from the app.","enum":["low","medium","high"],"example":"low"},"risk":{"type":"array","description":"Pixalate's unique overall advertising risk assessment based on blended risk factors including brand safety, invalid traffic and inventory for all regions and devices. It includes risk reasons. And list of possible risk reasons.","items":{"type":"object","properties":{"region":{"$ref":"#/components/schemas/Region"},"device":{"$ref":"#/components/schemas/Device"},"pixalateRisk":{"type":"string","description":"Pixalate's unique overall risk assessment for the app.","enum":["low","medium","high"],"example":"medium"},"pixalateRiskReasons":{"$ref":"#/components/schemas/RiskReasons"}}}}}},"DeveloperOverview":{"type":"object","description":"An overview of app's developer information.","properties":{"developerName":{"type":"string","description":"The business name of the app's developer.","example":"Acme Apps"},"developerLocation":{"type":"string","description":"The business address of the app's developer","example":"J. Doe, Main Street, Anywhere USA"},"developerEmail":{"type":"string","description":"The contact email address of the app's developer.","example":"jdoe@example.org"},"developerCountry":{"type":"string","description":"The country name of the app's developer.","example":"US"},"developerWebsite":{"type":"string","description":"The website of the app's developer.","example":"https://www.example.org"},"developerTotalApps":{"type":"integer","description":"The total number of apps available from the developer.","example":4},"privateDomain":{"type":"boolean","description":"A *true* indicates app's domain is privately registered.","example":false},"hasTermsAndConditions":{"type":"boolean","description":"A *true* indicates app has terms and conditions.","example":true},"hasPrivacyPolicy":{"type":"boolean","description":"A *true* indicates app has privacy policy.","example":true},"facebookRisk":{"type":"string","description":"The Facebook risk. Low social media engagement on Facebook can be a risk factor.","enum":["low","medium","high"],"example":"low"},"linkedInRisk":{"type":"string","description":"The LinkedIn risk. Low social media engagement on LinkedIn can be a risk factor.","enum":["low","medium","high"],"example":"low"},"twitterRisk":{"type":"string","description":"The Twitter risk. Low social media engagement on Twitter can be a risk factor.","enum":["low","medium","high"],"example":"low"}}},"TrafficOverview":{"type":"object","description":"An overview of the traffic risk.","properties":{"spoofingRisk":{"type":"string","description":"The risk the app may be misrepresented in advertising transactions and ads delivered to a different app or site.","enum":["low","medium","high"],"example":"low"},"locationMaskingRisk":{"type":"string","description":"The risk that location data is inaccurate for advertising transactions involving the app.","enum":["low","medium","high"],"example":"low"},"advertisingIvtRisk":{"type":"string","description":"The risk of advertising impressions delivered to the app being due to invalid traffic.","enum":["low","medium","high"],"example":"low"},"clickIvtRisk":{"type":"string","description":"The risk of clicks originating from ads on the app being fraudluent.","enum":["low","medium","high"],"example":"low"},"viewabilityRisk":{"type":"string","description":"The risk of IAB viewability standards not being met for ad impressions on the app.","enum":["low","medium","high"],"example":"low"},"estimatedDailyActiveUsers":{"type":"integer","description":"The estimated daily active users of the app.","example":1000000},"estimatedMonthlyActiveUsers":{"type":"integer","description":"The estimated monthly active users of the app.","example":20000000},"inventory":{"type":"integer","description":"The estimated number of monthly impressions this app makes available programmatically.","example":22000000},"adSpend":{"type":"number","description":"Total estimated monthly ad spend on this app.","example":69000}}},"BrandSafety":{"type":"object","description":"Brand safety information.","properties":{"descriptionBrandSafety":{"type":"object","description":"App descriptive text is processed through natural language algorithms and comprehensive categorical dictionaries to predict the advertiser brand safety risk.","properties":{"descriptionBrandSafetyRisk":{"type":"string","description":"The overall description risk to advertise brand safety from the app.","enum":["low","medium","high"],"example":"medium"},"advisoriesRisk":{"type":"string","description":"The risk to brand safety derived from the app's content advisories.","enum":["low","medium","high"],"example":"medium"},"adultContentRisk":{"type":"string","description":"The risk to brand safety from adult themed content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"high"},"drugContentRisk":{"type":"string","description":"The risk to brand safety from drug themed content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"medium"},"alcoholContentRisk":{"type":"string","description":"The risk to brand safety from Alcohol themed content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"medium"},"hateSpeechRisk":{"type":"string","description":"The risk to brand safety from hate speech content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"low"},"offensiveContentRisk":{"type":"string","description":"The risk to brand safety from content with offensive language based on textual analysis of the app and its descriptive content .","enum":["low","medium","high"],"example":"medium"},"gamblingContentRisk":{"type":"string","description":"The risk to brand safety from gambling focused content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"medium"},"violenceContentRisk":{"type":"string","description":"The risk to brand safety from Gambling focused content based on textual analysis of the app and its descriptive content.","enum":["low","medium","high"],"example":"low"}}},"contentBrandSafety":{"type":"object","description":"In-app visual content is processed through an advanced machine learning algorithm and evaluated for risk to advertiser brand safety.","properties":{"contentBrandSafetyRisk":{"type":"string","description":"The overall content risk to advertise brand safety from the app.","enum":["low","medium","high"],"example":"medium"},"adultRisk":{"type":"string","description":"The risk to brand safety from potential adult images and content detected within the app.","enum":["low","medium","high"],"example":"low"},"violenceRisk":{"type":"string","description":"The risk to brand safety from potential violent imagery and content detected within the app.","enum":["low","medium","high"],"example":"medium"},"imageData":{"type":"array","description":"The image by image breakdown of brand safety risk factors based on advanced image processing and machine learning.","items":{"type":"object","description":"The image, extracted text, and brand safety risk factors associated with the image.","properties":{"url":{"type":"string","description":"A URL to the image.","example":"https://example.org/images/kxipXQ3huWkwsqokX66euP.png"},"text":{"type":"string","description":"The extracted text.","example":"Weather Radar"},"violenceRisk":{"type":"string","description":"The risk to brand safety from potential violence images and any extracted text.","enum":["low","medium","high"],"example":"low"},"spoofRisk":{"type":"string","description":"The risk to brand safety from potential spoofing based on images and any extracted text.","enum":["low","medium","high"],"example":"low"},"medicalRisk":{"type":"string","description":"The risk to brand safety from potential medical images and any extracted text.","enum":["low","medium","high"],"example":"low"},"adultRisk":{"type":"string","description":"The risk to brand safety from potential adult images images and any extracted text.","enum":["low","medium","high"],"example":"low"}}}}}}}},"AppPermissions":{"type":"object","description":"App permissions.","properties":{"ivtPermissionRisk":{"type":"string","description":"The IVT Risk based on the combined risk of the permissions.","enum":["low","medium","high"],"example":"medium"},"permissions":{"type":"array","description":"List of permissions.","items":{"type":"object","description":"Permission information.","properties":{"name":{"type":"string","description":"The permission name.","example":"ACCESS_BACKGROUND_LOCATION"},"description":{"type":"string","description":"The permission description.","example":"Allows an app to access location in the background."},"isDangerous":{"type":"boolean","description":"A *true* indicates a dangerous permission.\n\n***Normal permissions*** - Normal permissions cover areas where your app needs to access data or resources outside the app's sandbox,\nbut where there's very little risk to the user's privacy or the operation of other apps.\nFor example, permission to set the time zone is a normal permission.\nIf an app declares in its manifest that it needs a normal permission, the system automatically grants the app that permission at install time.\n\n***Dangerous permissions*** - Dangerous permissions cover areas where the app wants data or resources that involve the user's private information,\nor could potentially affect the user's stored data or the operation of other apps.\nFor example, the ability to read the user's contacts is a dangerous permission.\nIf an app declares that it needs a dangerous permission, the user has to explicitly grant the permission to the app.\nUntil the user approves the permission, the app cannot provide functionality that depends on that permission.\n","example":"false;"},"ivtPermissonRisk":{"type":"string","description":"The IVT Risk for the permission.","enum":["low","medium","high"],"example":"medium"}}}}}},"TrafficOverlap":{"type":"object","description":"Overlap traffic illustrates the most common user journeys from app to app. It leverages shared users to not only connect apps together but also to create relationships between a series of apps. List of apps provided based on overall traffic (byOveralTraffic) and invalid traffic (byIvt).","properties":{"userOverlap":{"type":"number","description":"The percentage of users of the given app that also visit the app.","example":8.7},"inventoryOverlap":{"type":"number","description":"The percentage of impressions of the given app that were generated by the users that visited the app.","example":3.1}}},"AuthorizedSellers":{"type":"array","description":"The contribution of various sell side platforms to programmatic ad impressions sold on the app.","items":{"type":"object","properties":{"exchange":{"type":"string","description":"The name of the exchange.","example":"Acme Exchange"},"paymentType":{"type":"string","description":"The payment type.","example":"Direct"},"inventory":{"type":"integer","description":"The estimated number of monthly impressions this app makes available programmatically by this seller.","example":30039},"inventoryRatio":{"type":"number","description":"The average inventory ratio for ad impressions on the app by this seller.","example":12.87},"ivt":{"type":"number","description":"The average IVT for ad impressions on the app by this seller.","example":0.9},"videoInventoryRatio":{"type":"number","description":"The average video inventory ratio for ad impressions on the app by this seller.","example":1.4},"viewability":{"type":"number","description":"The average viewability for ad impressions on the app by this seller.","example":79.28}}}},"InvalidTraffic":{"type":"object","description":"The percentage of invalid traffic associated with each Pixalate's taxonomy of GIVT and SIVT invalid traffic types.","properties":{"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app.","example":7.76},"givt":{"type":"number","description":"GIVT refers to General Invalid Traffic - Deterministically judged to be non-human traffic; high to very high risk.","example":0.29},"sivt":{"type":"number","description":"SIVT refers to Sophisticated Invalid Traffic - Probabilistically judged to be non-human traffic using advanced statistical detection methods; moderate to high risk traffic.","example":7.47},"givtTypes":{"type":"array","description":"The percentage of invalid traffic associated with each Pixalate's taxonomy of GIVT invalid traffic types.","items":{"type":"object","properties":{"fraudType":{"type":"string","description":"The type of SIVT fraud.","example":"Data Center"},"givt":{"type":"number","description":"GIVT refers to General Invalid Traffic - Deterministically judged to be non-human traffic; high to very high risk.","example":0.29}}}},"sivtTypes":{"type":"array","description":"The percentage of invalid traffic associated with each Pixalate's taxonomy of SIVT invalid traffic types.","items":{"type":"object","properties":{"fraudType":{"type":"string","description":"The type of SIVT fraud.","example":"AppSpoofing"},"sivt":{"type":"number","description":"SIVT refers to Sophisticated Invalid Traffic - Probabilistically judged to be non-human traffic using advanced statistical detection methods; moderate to high risk traffic.","example":2.78}}}}}},"Viewability":{"type":"object","description":"The average viewability, according the IAB standard of 50% in view for at least 1 second, for display advertisements in the app.","properties":{"viewability":{"type":"number","description":"The average viewability for all display ad impressions in the app.","example":66.05},"viewabilityRisk":{"type":"string","description":"The risk of IAB viewability standards not being met for ad impressions on the app.","enum":["low","medium","high"],"example":"medium"},"byAdSizes":{"type":"array","description":"The risk of IAB viewability standards not being met for ad impressions on the app by each ad size.","items":{"type":"object","description":"Viewability by add size.","properties":{"adSize":{"type":"string","description":"The size of the ad.","example":"728x90"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by ad size.","example":22360289},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by ad size.","example":66.05},"viewability":{"type":"number","description":"The average viewability for impressions by ad size.","example":66.05}}}}}},"Inventory":{"type":"object","description":"The estimated volume of programmatic ad impressions broken down by device, region, country, DMA.","properties":{"byDevice":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by device.","items":{"type":"object","description":"inventory by device.","properties":{"device":{"type":"string","description":"The device.","example":"Apple Iphone"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by device.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by device.","example":81.04},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by device.","example":8.02},"viewability":{"type":"number","description":"The average viewability for impressions by device.","example":73.3}}}},"byRegion":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by region.","items":{"type":"object","description":"inventory by region.","properties":{"region":{"type":"string","description":"The region.","example":"APAC"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by region.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by region.","example":6.39},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by region.","example":2.93},"viewability":{"type":"number","description":"The average viewability for impressions by region.","example":92.52}}}},"byCounty":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by country.","items":{"type":"object","description":"inventory by country.","properties":{"countryName":{"type":"string","description":"The county name.","example":"UK"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by country.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by country.","example":1.72},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by country.","example":8.99},"viewability":{"type":"number","description":"The average viewability for impressions by country.","example":94.74}}}},"byAdsize":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by ad size.","items":{"type":"object","description":"inventory by ad size.","properties":{"adSize":{"type":"string","description":"The ad size.","example":"320x50"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by ad size.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by ad size.","example":3.47},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by ad size.","example":12.25},"viewability":{"type":"number","description":"The average viewability for impressions by ad size.","example":98.08}}}},"byDma":{"type":"array","description":"The estimated volume of programmatic ad impressions broken down by DMA.","items":{"type":"object","description":"inventory by DMA.","properties":{"dmaName":{"type":"string","description":"The DMA name.","example":"NEW YORK"},"inventory":{"type":"integer","description":"The estimated volume of programmatic ad impressions by DMA.","example":null},"inventoryRatio":{"type":"number","description":"The estimated percentage of inventory by DMA.","example":5.35},"ivt":{"type":"number","description":"The total percentage of non-human traffic measured on the app by DMA.","example":4.76},"viewability":{"type":"number","description":"The average viewability for impressions by DMA.","example":88.01}}}}}},"Ctr":{"type":"object","description":"Information about Click Through Rate for this app.","properties":{"ctr":{"type":"number","description":"The overall average CTR for this app.","example":6.03},"byAdSize":{"type":"array","description":"The CTR for this app broken down by ad size.","items":{"type":"object","description":"CTR by ad size.","properties":{"adSize":{"type":"string","description":"The ad size.","example":"320x50"},"ctr":{"type":"number","description":"The Click Through Rate.","example":1.45}}}}}},"AvailableCountries":{"type":"array","description":"A list of available countries.","items":{"type":"string","description":"A country name.","example":"Germany"}},"Rankings":{"type":"object","description":"Ranking information about the app.","properties":{"regionRank":{"type":"integer","description":"The rank of the app within the requested region.","example":6473},"categoryRank":{"type":"integer","description":"The rank of the app within its category.","example":3677},"category":{"type":"string","description":"The category of the app.","example":"Video Games"},"final":{"type":"object","description":"The final grade and score for the app.","properties":{"grade":{"type":"string","description":"The final grade for the app.","example":"C"},"score":{"type":"string","description":"The final score for the app.","example":"38"}}},"ivt":{"type":"object","description":"The IVT grade and score for the app.","properties":{"grade":{"type":"string","description":"The IVT grade for the app.","example":"B"},"score":{"type":"string","description":"The IVT score for the app.","example":"62"}}},"adsTxt":{"type":"object","description":"The ads.txt grade and score for the app.","properties":{"grade":{"type":"string","description":"The ads.txt grade for the app.","example":"B"},"score":{"type":"string","description":"The ads.txt score for the app.","example":"62"}}},"brandSafety":{"type":"object","description":"The brand safety grade and score for the app.","properties":{"grade":{"type":"string","description":"The brand safety grade for the app.","example":"A"},"score":{"type":"string","description":"The brand safety score for the app.","example":"99"}}},"viewability":{"type":"object","description":"The viewability grade and score for the app.","properties":{"grade":{"type":"string","description":"The viewability grade for the app.","example":"A"},"score":{"type":"string","description":"The viewability score for the app.","example":"99"}}},"permissions":{"type":"object","description":"The permissions grade and score for the app.","properties":{"grade":{"type":"string","description":"The permissions grade for the app.","example":"N/A"},"score":{"type":"string","description":"The IVT score for the app.","example":"N/A"}}},"popularity":{"type":"object","description":"The popularity grade and score for the app.","properties":{"grade":{"type":"string","description":"The popularity grade for the app.","example":"C"},"score":{"type":"string","description":"The popularity score for the app.","example":"44"}}},"globalPopularityRank":{"type":"string","description":"The overall global popularity ranking of the app.","example":"3952"}}},"RankingsByCountry":{"type":"object","description":"The reach and market share of the app broken down by country.","properties":{"reach":{"type":"array","description":"The reach of the app broken down by country.","items":{"type":"object","description":"Reach by country.","properties":{"countryCode":{"type":"string","description":"The ISO ALPHA-2 standard country code.","example":"ZA"},"countryName":{"type":"string","description":"The country name.","example":"South Africa"},"mauRank":{"type":"string","description":"The current MAU ranking for the app for this country.","example":"637"},"mauRankChange":{"type":"string","description":"The change in MAU rank since last assessment.","example":"-372"}}}},"marketShare":{"type":"array","description":"The market share of the app broken down by country.","items":{"type":"object","description":"Market share by country.","properties":{"countryCode":{"type":"string","description":"The ISO ALPHA-2 standard country code.","example":"GE"},"countryName":{"type":"string","description":"The country name.","example":"Georgia"},"impressionRank":{"type":"string","description":"The current impression ranking for the app for this country.","example":"359"},"impsRankChange":{"type":"string","description":"The change in impression ranking since last assessment.","example":"N/A"}}}}}},"Coppa":{"type":"object","description":"Children's Online Privacy Protection Act information.","properties":{"coppaAudience":{"type":"string","description":"Assesses the likely intended audience of an app based on a variety of factors including app store categories,  content ratings, and keywords, etc.","example":"General Audience"},"coppaAudienceReason":{"type":"array","description":"Describes the specific variables considered when making the audience assessment.","items":{"type":"string","example":"This app is likely directed to children (including mixed audience) based on manual review"}},"storeCategory":{"type":"array","description":"The associated category of an app according to the Google Play Store & Apple’s App Store.","items":{"type":"string"},"example":["All Apps"]},"storeSubCategory":{"type":"array","description":"The associated subcategory from Google Play Store & Apple’s App Store.","items":{"type":"string"},"example":["Health & Fitness"]},"contentRating":{"type":"string","description":"The recommended age rating defined by the Apple's app store or the content rating provided by Google play store.","example":"Everyone"},"isApprovedByTeacher":{"type":"boolean","description":"Google Play’s program in which apps are evaluated by teachers and other specialists and for age and content appropriateness.","example":false},"ageGroupApprovedByTeacher":{"type":"string","description":"The recommended age group as approved by teachers.","example":null},"coppaViolationRisk":{"type":"string","description":"Pixalate analyzes multiple signals and produces a risk score (low, medium, or high) that captures the potential COPPA risk.","enum":["low","medium","high"],"example":"low"},"coppaViolationRiskReason":{"type":"array","description":"Describes the specific variables considered when making the overall COPPA risk rating assessment.","items":{"type":"string"},"example":["The COPPA risk is low because the app is likely not directed to children under 13."]},"privacyPolicyDetected":{"type":"boolean","description":"Pixalate determines whether an app has a privacy policy based on information provided in the app stores. Additionally, Pixalate uses crawlers to scan developer websites for privacy policies.","example":true},"sensitivePermissions":{"type":"boolean","description":"Detects mobile device permissions granted to the app such as camera, microphone, contacts, etc. which allow for sensitive personal information collection.","example":true},"transmitsResidentialIP":{"type":"boolean","description":"Pixalate examines the traffic associated with an app and determines if the end-user IP is transmitted through the advertising pipeline that can expose granular information about the user’s location.","example":true},"passesLocation":{"type":"boolean","description":"Pixalate examines the traffic associated with an app and determines if the end-users’ GPS coordinates are being transmitted through the advertising pipeline that exposes granular information about the user’s location.","example":true},"permissions":{"type":"array","description":"Lists the device permissions granted to the app, reports those considered sensitive permissions related to COPPA.","items":{"type":"object","description":"permission.","properties":{"name":{"type":"string","description":"The name of the permission.","example":"READ_CONTACTS"},"description":{"type":"string","description":"The permissions description.","example":"Allows an application to read the user's contacts data."}}}}}},"AppStore":{"type":"string","description":"An app store identifier.","enum":["ios","android"],"example":"android"},"Device":{"description":"The device. *GLOBAL* indicates an aggregate of all devices.","type":"string","enum":["GLOBAL","smartphone","tablet"],"example":"smartphone"},"Region":{"type":"string","description":"A geographic region. *GLOBAL* indicates an aggregate of all regions.","enum":["GLOBAL","NA","EMEA","LATAM","APAC"],"example":"APAC"},"Status":{"type":"string","description":"The returned status.","enum":["OK","ERR"],"example":"OK"},"Widget":{"type":"string","description":"The identifier for a predefined subset of all the app information available. *If not supplied, usually indicates all widgets.*","enum":["appOverview","appDetails","pixalateAdvisories","appAdvisories","riskOverview","developerOverview","trafficOverview","brandSafety","appPermissions","trafficOverlap","authorizedSellers","invalidTraffic","viewability","inventory","ctr","availableCountries","rankings","rankingsByCountry","coppa"],"example":"appOverview"},"BlocklistedReasons":{"type":"array","description":"A list of reasons that the app is blocklisted.","items":{"type":"string","enum":["Ad Inventory from the app is Frequently Spoofed","App is No Longer in Active Use","Variety of Suspicious app Characteristics","High Volumes of Datacenter Traffic Detected","Limited History of Low Risk Advertising Traffic","The app is a VPN","Location Coordinates from the app are Commonly Inaccurate or Spoofed","An app that belongs to a developer that has created one or more blacklisted apps","App is No Longer in Active use","Significantly Elevated IVT Percentage"]},"example":["App is No Longer in Active Use","The app is a VPN"]},"RiskReasons":{"type":"array","description":"A list of reasons that the app is at risk.","items":{"type":"string","enum":["Significantly Elevated IVT Percentage","Publisher Maintains Non-corporate Email Address","Moderately Elevated IVT Percentage","Publisher Does Not Publish a Privacy Policy","The Publisher Hides their Corporate Details in the Domain Registry","The Publisher's Email Address Doesn't Match Their Domain","Adult Content Has Been Detected in the app","The Publisher Does Not Publish Terms and Conditions","The Publisher Domain is Invalid","Gambling Content Has Been Detected in the app","Programmatic Ads Not Detected Leads to High Spoofing Risk","Violent Content Has Been Detected in the app","Alcohol Based Content Has Been Detected in the app","Ad Traffic Shows Some Suspicious Characteristics","Profanity and Offensive Language Has Been Detected in the app","App Description Uses Some Brand Unsafe Language","App Has a High Frequency of Invalid Clicks"]},"example":["Significantly Elevated IVT Percentage","Ad Traffic Shows Some Suspicious Characteristics"]},"InteractiveElements":{"type":"array","description":"List of Interactive elements focus on what information the app has access to.","items":{"type":"string","enum":["Shares Info","Shares Location","Users Interact","Digital Purchases","Unrestricted Internet","In-app Purchases","In-Game Purchases"]},"example":["Shares Location","Users Interact"]}},"responses":{"OK":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppList"}}}},"OkMetadata":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Metadata"}}}},"OkPost":{"description":"OK","content":{"application/json":{"schema":{"type":"string","description":"The returned URL.","example":"https://dashboardcdn.pixalate.com/www/exported/Client/2022-04-12/qprdbkr9dfeoostip8ltqgmecd/apps_2022-04-12"}}}},"BadRequest":{"description":"Bad Request - Invalid parameters in request."},"Forbidden":{"description":"Forbidden - Quota has been exhausted, Subscription expired or needs upgrade."},"ServerError":{"description":"Server Error - The API experienced an internal error.  Contact support."},"Unauthorized":{"description":"Unauthorized - Invalid API Key."}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}