{"openapi":"3.0.0","info":{"title":"Supply Chain Object Validation and Verification API (SCOVV API)","description":"This API enhances transparency and trust in the digital advertising ecosystem by validating and verifying the authenticity of entities within the supply chain.","version":"1.0.0"},"servers":[{"url":"https://sco-api.pixalate.com/sco/v1"}],"paths":{"/sco/app/vv":{"post":{"summary":"Validate and Verify a serialized Supply Chain Object string for Mobile and Connected TV Apps.","operationId":"validateVerifyAppSingle","tags":["SCO Validation and Verification for Apps."],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["sco","id"],"properties":{"sco":{"type":"string","description":"Serialized SCO string to be validated and verified."},"id":{"type":"string","description":"App identifier (bundle id)."}}}}}},"responses":{"200":{"description":"Validation and Verification Results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateVerificationResponse"}}}},"400":{"description":"Bad Request - Invalid parameters in request."},"401":{"description":"Unauthorized - Invalid API Key."}}}},"/sco/bulk/app/vv":{"post":{"summary":"Bulk validation and verification of multiple serialized Supply Chain Object strings for Apps.","operationId":"validateVerifyAppBulk","tags":["Bulk SCO Validation and Verification for Apps."],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["sco","id"],"properties":{"sco":{"type":"string","description":"Serialized SCO string to be validated and verified."},"id":{"type":"string","description":"App identifier (bundle id)."}}}}}}},"responses":{"200":{"description":"Array of Validation and Verification Results.","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/ValidateVerificationResponse"}}}}}}},"400":{"description":"Bad Request - Invalid parameters in request."},"401":{"description":"Unauthorized - Invalid API Key."}}}},"/sco/website/vv":{"post":{"summary":"Validate and Verify a serialized Supply Chain Object string for Websites.","operationId":"validateVerifyWebsiteSingle","tags":["SCO Validation and Verification for Websites."],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["sco","id"],"properties":{"sco":{"type":"string","description":"Serialized SCO string to be validated and verified."},"id":{"type":"string","description":"Publisher Domain."}}}}}},"responses":{"200":{"description":"Validation and Verification Results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateVerificationResponse"}}}},"400":{"description":"Bad Request - Invalid parameters in request."},"401":{"description":"Unauthorized - Invalid API Key."}}}},"/sco/bulk/website/vv":{"post":{"summary":"Bulk validation and verification of multiple serialized Supply Chain Object strings for Websites.","operationId":"validateVerifyWebsiteBulk","tags":["SCO Validation and Verification for Websites."],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["sco","id"],"properties":{"sco":{"type":"string","description":"Serialized SCO string to be validated and verified."},"id":{"type":"string","description":"Publisher Domain."}}}}}}},"responses":{"200":{"description":"Array of Validation and Verification Results.","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/ValidateVerificationResponse"}}}}}}},"400":{"description":"Bad Request - Invalid parameters in request."},"401":{"description":"Unauthorized - Invalid API Key."}}}},"/sco/vv":{"post":{"summary":"Validate and Verify a serialized Supply Chain Object string for Websites or Apps.","operationId":"validateVerifyBothSingle","tags":["SCO Validation and Verification for Websites or Apps."],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["sco","id"],"properties":{"sco":{"type":"string","description":"Serialized SCO string to be validated and verified."},"id":{"type":"string","description":"Publisher Domain or App identifier (bundle id)."}}}}}},"responses":{"200":{"description":"Validation and Verification Results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateVerificationResponse"}}}},"400":{"description":"Bad Request - Invalid parameters in request."},"401":{"description":"Unauthorized - Invalid API Key."}}}},"/sco/bulk/vv":{"post":{"summary":"Bulk validation and verification of multiple serialized Supply Chain Object strings for Websites or Apps.","operationId":"validateVerifyBothBulk","tags":["Bulk SCO Validation and Verification for Websites or Apps."],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["sco","id"],"properties":{"sco":{"type":"string","description":"Serialized SCO string to be validated and verified."},"id":{"type":"string","description":"Publisher Domain or App identifier (bundle id)."}}}}}}},"responses":{"200":{"description":"Array of Validation and Verification Results.","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/ValidateVerificationResponse"}}}}}}},"400":{"description":"Bad Request - Invalid parameters in request."},"401":{"description":"Unauthorized - Invalid API Key."}}}},"/sco/v":{"post":{"summary":"Validate a serialized Supply Chain Object string","operationId":"validateSingle","tags":["SCO Validation"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["sco","id"],"properties":{"sco":{"type":"string","description":"Serialized SCO string to be validated."}}}}}},"responses":{"200":{"description":"Validation Results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateResponse"}}}},"400":{"description":"Bad Request - Invalid parameters in request."},"401":{"description":"Unauthorized - Invalid API Key."}}}},"/sco/bulk/v":{"post":{"summary":"Bulk validation of multiple serialized Supply Chain Object strings.","operationId":"validateBulk","tags":["Bulk SCO Validation"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["sco","id"],"properties":{"sco":{"type":"string","description":"Serialized SCO string to be validated."}}}}}}},"responses":{"200":{"description":"Array of Validation Results.","content":{"application/json":{"schema":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/ValidateResponse"}}}}}}},"400":{"description":"Bad Request - Invalid parameters in request."},"401":{"description":"Unauthorized - Invalid API Key."}}}}},"components":{"schemas":{"ValidateVerificationResponse":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","enum":["valid","invalid","error"],"example":"valid","description":"Validation Status:\n- `valid`: The SCO is valid.\n- `invalid`: The SCO is invalid.\n- `error`: There was an error.\n"},"reasons":{"type":"array","items":{"type":"integer","format":"int64","enum":[101,102,201,202,203,204,205,206,207,208,209],"description":"Invalid reason codes:\n- `101`: SCO declared incomplete\n- `102`: SCO deserialization failed   \n- `201`: Sellers.json not resolved\n- `202`: Ads.txt not resolved\n- `203`: App-ads.txt not resolved\n- `204`: Unable to resolve seller domain\n- `205`: Publisher missing in SCO\n- `206`: Direct seller not authorized\n- `207`: Reseller not authorized\n- `208`: Reseller listed as direct seller\n- `209`: Link in SCO missing in sellers.json                             \n"}}}}},"ValidateResponse":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","enum":["valid","invalid","error"],"example":"valid","description":"Validation Status:\n- `valid`: The SCO is valid.\n- `invalid`: The SCO is invalid.\n- `error`: There was an error.\n"},"reasons":{"type":"array","items":{"type":"integer","format":"int64","enum":[101,102],"description":"Invalid reason codes:\n- `101`: SCO declared incomplete\n- `102`: SCO deserialization failed\n"}}}}}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}