{
  "openapi": "3.0.0",
  "info": {
    "title": "SCO Validation & Verification API",
    "description": "This API enhances transparency and trust in the digital advertising ecosystem by validating and verifying the authenticity of entities within the supply chain.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pixalate.com/api/v2",
      "description": "Pixalate API endpoint version 2."
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "paths": {
    "/sco/app/vv": {
      "post": {
        "summary": "Validate and Verify a serialized Supply Chain Object string for Mobile and Connected TV Apps.",
        "operationId": "validateVerifyAppSingle",
        "description": "Validates one serialized supply chain object (SCO) for a mobile or Connected TV app and verifies the sellers it declares against the published authorized-seller records (`ads.txt` / `app-ads.txt`) and the `sellers.json` entry of each declared seller. Send the serialized SCO string as `sco` and the app's bundle ID as `id`. The response reports a `status` of `valid`, `invalid`, or `error`, together with the `reasons` codes behind that verdict — covering both problems with the SCO itself (`101`, `102`) and problems with the authorization of the entities it declares (`201`-`209`).",
        "tags": [
          "SCO Validation and Verification for Apps."
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sco",
                  "id"
                ],
                "properties": {
                  "sco": {
                    "type": "string",
                    "description": "Serialized SCO string to be validated and verified.",
                    "example": "1.0,1!ssp.example.com,1234,1,bid-request-id-1,ExampleSSP,ssp.example.com"
                  },
                  "id": {
                    "type": "string",
                    "description": "App identifier (bundle id).",
                    "example": "com.example.mobileapp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation and Verification Results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters in request."
          },
          "401": {
            "description": "Unauthorized - Invalid API Key."
          }
        }
      }
    },
    "/sco/bulk/app/vv": {
      "post": {
        "summary": "Bulk validation and verification of multiple serialized Supply Chain Object strings for Apps.",
        "operationId": "validateVerifyAppBulk",
        "description": "Validates and verifies many mobile and Connected TV app supply chain objects in a single call. Send a JSON array in which each element carries the serialized SCO string as `sco` and the app's bundle ID as `id`. The response contains a `results` array holding one outcome per submitted item, each with the same `status` and `reasons` fields the single-item endpoint returns.",
        "tags": [
          "Bulk SCO Validation and Verification for Apps."
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "sco",
                    "id"
                  ],
                  "properties": {
                    "sco": {
                      "type": "string",
                      "description": "Serialized SCO string to be validated and verified.",
                      "example": "1.0,1!ssp.example.com,1234,1,bid-request-id-1,ExampleSSP,ssp.example.com"
                    },
                    "id": {
                      "type": "string",
                      "description": "App identifier (bundle id).",
                      "example": "com.example.mobileapp"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of Validation and Verification Results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ValidateVerificationResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters in request."
          },
          "401": {
            "description": "Unauthorized - Invalid API Key."
          }
        }
      }
    },
    "/sco/website/vv": {
      "post": {
        "summary": "Validate and Verify a serialized Supply Chain Object string for Websites.",
        "operationId": "validateVerifyWebsiteSingle",
        "description": "Validates one serialized supply chain object (SCO) for a website and verifies the sellers it declares against the published authorized-seller records (`ads.txt` / `app-ads.txt`) and the `sellers.json` entry of each declared seller. Send the serialized SCO string as `sco` and the publisher domain as `id`. The response reports a `status` of `valid`, `invalid`, or `error`, together with the `reasons` codes behind that verdict — covering both problems with the SCO itself (`101`, `102`) and problems with the authorization of the entities it declares (`201`-`209`).",
        "tags": [
          "SCO Validation and Verification for Websites."
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sco",
                  "id"
                ],
                "properties": {
                  "sco": {
                    "type": "string",
                    "description": "Serialized SCO string to be validated and verified.",
                    "example": "1.0,1!ssp.example.com,1234,1,bid-request-id-1,ExampleSSP,ssp.example.com"
                  },
                  "id": {
                    "type": "string",
                    "description": "Publisher Domain.",
                    "example": "example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation and Verification Results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters in request."
          },
          "401": {
            "description": "Unauthorized - Invalid API Key."
          }
        }
      }
    },
    "/sco/bulk/website/vv": {
      "post": {
        "summary": "Bulk validation and verification of multiple serialized Supply Chain Object strings for Websites.",
        "operationId": "validateVerifyWebsiteBulk",
        "description": "Validates and verifies many website supply chain objects in a single call. Send a JSON array in which each element carries the serialized SCO string as `sco` and the publisher domain as `id`. The response contains a `results` array holding one outcome per submitted item, each with the same `status` and `reasons` fields the single-item endpoint returns.",
        "tags": [
          "Bulk SCO Validation and Verification for Websites."
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "sco",
                    "id"
                  ],
                  "properties": {
                    "sco": {
                      "type": "string",
                      "description": "Serialized SCO string to be validated and verified.",
                      "example": "1.0,1!ssp.example.com,1234,1,bid-request-id-1,ExampleSSP,ssp.example.com"
                    },
                    "id": {
                      "type": "string",
                      "description": "Publisher Domain.",
                      "example": "example.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of Validation and Verification Results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ValidateVerificationResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters in request."
          },
          "401": {
            "description": "Unauthorized - Invalid API Key."
          }
        }
      }
    },
    "/sco/vv": {
      "post": {
        "summary": "Validate and Verify a serialized Supply Chain Object string for Websites or Apps.",
        "operationId": "validateVerifyBothSingle",
        "description": "Validates one serialized supply chain object (SCO) for either a website or an app and verifies the sellers it declares against the published authorized-seller records (`ads.txt` / `app-ads.txt`) and the `sellers.json` entry of each declared seller. Send the serialized SCO string as `sco` and, as `id`, either the publisher domain or the app's bundle ID — use this endpoint when a single integration submits both supply types. The response reports a `status` of `valid`, `invalid`, or `error`, together with the `reasons` codes behind that verdict — covering both problems with the SCO itself (`101`, `102`) and problems with the authorization of the entities it declares (`201`-`209`).",
        "tags": [
          "SCO Validation and Verification for Websites or Apps."
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sco",
                  "id"
                ],
                "properties": {
                  "sco": {
                    "type": "string",
                    "description": "Serialized SCO string to be validated and verified.",
                    "example": "1.0,1!ssp.example.com,1234,1,bid-request-id-1,ExampleSSP,ssp.example.com"
                  },
                  "id": {
                    "type": "string",
                    "description": "Publisher Domain or App identifier (bundle id).",
                    "example": "example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation and Verification Results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters in request."
          },
          "401": {
            "description": "Unauthorized - Invalid API Key."
          }
        }
      }
    },
    "/sco/bulk/vv": {
      "post": {
        "summary": "Bulk validation and verification of multiple serialized Supply Chain Object strings for Websites or Apps.",
        "operationId": "validateVerifyBothBulk",
        "description": "Validates and verifies many website or app supply chain objects in a single call, so one integration can submit a mix of both supply types. Send a JSON array in which each element carries the serialized SCO string as `sco` and, as `id`, either the publisher domain or the app's bundle ID. The response contains a `results` array holding one outcome per submitted item, each with the same `status` and `reasons` fields the single-item endpoint returns.",
        "tags": [
          "Bulk SCO Validation and Verification for Websites or Apps."
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "sco",
                    "id"
                  ],
                  "properties": {
                    "sco": {
                      "type": "string",
                      "description": "Serialized SCO string to be validated and verified.",
                      "example": "1.0,1!ssp.example.com,1234,1,bid-request-id-1,ExampleSSP,ssp.example.com"
                    },
                    "id": {
                      "type": "string",
                      "description": "Publisher Domain or App identifier (bundle id).",
                      "example": "example.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of Validation and Verification Results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ValidateVerificationResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters in request."
          },
          "401": {
            "description": "Unauthorized - Invalid API Key."
          }
        }
      }
    },
    "/sco/v": {
      "post": {
        "summary": "Validate a serialized Supply Chain Object string",
        "operationId": "validateSingle",
        "description": "Checks that one serialized supply chain object (SCO) is well formed, without verifying the entities it declares. Send the serialized SCO string as `sco`. The response reports a `status` of `valid`, `invalid`, or `error` and, where the SCO cannot be accepted, the `reasons` codes for it: the SCO declaring an incomplete chain (`101`) or the string failing to deserialize (`102`). No seller records are consulted, so authorization problems are not reported here — use the validate-and-verify endpoints for those.",
        "tags": [
          "SCO Validation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sco",
                  "id"
                ],
                "properties": {
                  "sco": {
                    "type": "string",
                    "description": "Serialized SCO string to be validated.",
                    "example": "1.0,1!ssp.example.com,1234,1,bid-request-id-1,ExampleSSP,ssp.example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation Results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters in request."
          },
          "401": {
            "description": "Unauthorized - Invalid API Key."
          }
        }
      }
    },
    "/sco/bulk/v": {
      "post": {
        "summary": "Bulk validation of multiple serialized Supply Chain Object strings.",
        "operationId": "validateBulk",
        "description": "Checks that many serialized supply chain objects are well formed, without verifying the entities they declare. Send a JSON array in which each element carries a serialized SCO string as `sco`. The response contains a `results` array holding one outcome per submitted item, each with the same `status` and `reasons` fields the single-item endpoint returns.",
        "tags": [
          "Bulk SCO Validation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "sco",
                    "id"
                  ],
                  "properties": {
                    "sco": {
                      "type": "string",
                      "description": "Serialized SCO string to be validated.",
                      "example": "1.0,1!ssp.example.com,1234,1,bid-request-id-1,ExampleSSP,ssp.example.com"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of Validation Results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ValidateResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters in request."
          },
          "401": {
            "description": "Unauthorized - Invalid API Key."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "Authentication and authorization is achieved by supplying your Pixalate provided API key in the header of the request. An API key may be obtained by signing up for an account on the [Pixalate developer website](https://developer.pixalate.com)."
      }
    },
    "schemas": {
      "ValidateVerificationResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "enum": [
                "valid",
                "invalid",
                "error"
              ],
              "example": "valid",
              "description": "Validation Status:\n- `valid`: The SCO is valid.\n- `invalid`: The SCO is invalid.\n- `error`: There was an error.\n"
            },
            "reasons": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64",
                "enum": [
                  101,
                  102,
                  201,
                  202,
                  203,
                  204,
                  205,
                  206,
                  207,
                  208,
                  209
                ],
                "description": "Invalid reason codes:\n- `101`: SCO declared incomplete\n- `102`: SCO deserialization failed   \n- `201`: Sellers.json not resolved\n- `202`: Ads.txt not resolved\n- `203`: App-ads.txt not resolved\n- `204`: Unable to resolve seller domain\n- `205`: Publisher missing in SCO\n- `206`: Direct seller not authorized\n- `207`: Reseller not authorized\n- `208`: Reseller listed as direct seller\n- `209`: Link in SCO missing in sellers.json                             \n"
              }
            }
          }
        }
      },
      "ValidateResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "enum": [
                "valid",
                "invalid",
                "error"
              ],
              "example": "valid",
              "description": "Validation Status:\n- `valid`: The SCO is valid.\n- `invalid`: The SCO is invalid.\n- `error`: There was an error.\n"
            },
            "reasons": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64",
                "enum": [
                  101,
                  102
                ],
                "description": "Invalid reason codes:\n- `101`: SCO declared incomplete\n- `102`: SCO deserialization failed\n"
              }
            }
          }
        }
      }
    }
  }
}